[Unit]
Description=Production http-service for disclosures.ru

[Service]
User=sokirko
Environment=PYTHONPATH=/var/www/smart_parser/tools:/var/www/smart_parser/tools/disclosures_site
WorkingDirectory=/var/www/smart_parser/tools/disclosures_site
ExecStart=/var/www/smart_parser/tools/venv/bin/python3 manage.py runserver 192.168.100.151:8000  --noreload --settings disclosures.settings.prod

[Install]
WantedBy=multi-user.target
