[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=sokirko
WorkingDirectory=/var/www/smart_parser/tools/disclosures_site
Environment=PYTHONPATH=/var/www/smart_parser/tools:/var/www/smart_parser/tools/disclosures_site
ExecStart=/var/www/smart_parser/tools/venv/bin/gunicorn \
          --access-logfile - \
          --env DJANGO_SETTINGS_MODULE=disclosures.settings.prod \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          disclosures.wsgi:application
