server {
    listen 80;
    server_name disclosures.ru;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        alias /var/www/smart_parser/tools/disclosures_site/disclosures/static/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;
    }
}
