{% extends 'base.html' %}

{% block title %}{{ office.name }} {% endblock title %}

{% block content %}

<table>
    <tr><td><b>ID</b>:</td><td>{{ office.id }} </td></tr>
    <tr><td><b>Название</b>:</td><td>{{ office.name }} </td></tr>
    <tr><td><b>Регион</b>:</td><td>{{ office.region_name }} (id={{ office.region_id }}) </td></tr>
    <tr><td><b>Рубрика</b>:</td><td>{{ office.rubric_str }} </td></tr>


    {% if office.parent_id %}
            <tr>
                <td><b>Вышестоящая организация</b>:</td>
                <td> <a href="/office/{{ office.parent_id }}">{{ office.parent_office_name }}</a></td>
            </tr>
    {% endif %}

    {% if office.child_offices_count > 0 %}
        <tr>
            <td valign="baseline"><b>Нижестоящие организации</b>:</td>
            <td>{% for child_id, child_name in office.child_offices %}
              <a href="/office/{{ child_id }}"> {{ child_name }} </a><br/>
            {% endfor %}

            {% if office.child_offices_count > 5 %}
                <a href="/office?parent_id={{office.id}}">...</a>
            {% endif %}
            </td>
        </tr>
    {% endif %}

    {% if office.source_document_count > 0 %}
        <tr>
            <td valign="baseline"><b>Документы</b>:</td>

            <td>
                <table border="1" style="border-collapse: collapse;" cellpadding="10" >
                    <tr>
                        <th>ID</th>
                        <th>Год</th>
                        <th>Число секций</th>
                    </tr>
                    {% for src_doc in office.get_source_documents %}
                        <tr>
                            <td><a href="/file/{{ src_doc.id }}">{{ src_doc.id }}</a></td>
                            <td align="center" >{{src_doc.min_income_year}}</td>
                            <td align="center">{{src_doc.section_count}}</td>
                        </tr>
                    {% endfor %}
                    {% if office.source_document_count > 10 %}
                        <tr>
                            <td colspan="3" border="0">
                                <a href="/file?office_id={{office.id}}">остальные документы</a>
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    {% endif %}

    <tr><td>
    <a href=/section?office_id={{office.id}}>Все декларации этого ведомства</a>
    </td></tr>
</table>
{% endblock content %}
