{% extends 'base.html' %}
{% block title %}Ведомства{% endblock title %}


{% block content %}

<form action="{% url 'office_search' %}" method="get">
    {{form.name.label_tag}} {{ form.name }}
    <input type="submit" value="Поиск">
    <br/>
</form>

{% if hits_count is not None %}
  <br/>
  Число найденных ведомств: {{ hits_count }}
  <br/>
{% endif %}

<table>
    <tr>
      <th><a href="?{{sort_by_id}}">ID</a></th>
      <th><a href="?{{sort_by_name}}">Название</a></th>
      <th><a href="?{{sort_by_source_document_count}}">Кол-во документов</a></th>
    </tr>
    {% for office in object_list %}
      <tr>
        <td> {{ office.id }} </td>
        <td>
            <a href="/office/{{office.id}}"> {{ office.name }} </a>
        </td>
        <td>
            {{ office.source_document_count }}
        </td>
      </tr>
    {% endfor %}
</table>

{% include "search/paginator.html" %}

{% endblock content %}


