{% extends 'base.html' %}
{% block title %}Ведомства{% endblock title %}


{% block content %}

<form action="{% url 'office_search' %}" method="get">
    <div class="desktop">
        {{form.name.label_tag}} {{ form.name }} &#32;&#32;&#32;
        {{form.region_id.label_tag}} {{form.region_id}}  &#32;&#32;&#32;
        {{form.rubric_id.label_tag}}{{form.rubric_id}} &#32;&#32;&#32;
        <input type="submit" value="Поиск">
    </div>
    <div class="mobile" style="line-height:2">
        {{form.name.label_tag}} {{ form.name }} <br/>
        {{form.region_id.label_tag}} {{form.region_id}}  <br/>
        {{form.rubric_id.label_tag}}{{form.rubric_id}}
        <input style="float: right" type="submit" value="Поиск">
    </div>
    <br/>
</form>

{% if hits_count is not None %}
  <br/>
  Число найденных ведомств: {{ hits_count }}
  <br/>
{% endif %}

<table>
    <tr>
      <th><a href="?{{sort_by_id}}">ID</a></th>
      <th><a href="?{{sort_by_name}}">Название</a></th>
      <th><a href="?{{sort_by_source_document_count}}">Кол-во документов</a></th>
      <th>Рубрика</th>
    </tr>
    {% for office in object_list %}
      <tr>
        <td> {{ office.id }} </td>
        <td>
            <a href="/office/{{office.id}}"> {{ office.name }} </a>
        </td>
        <td>
            {{ office.source_document_count }}
        </td>
        <td>
            {{ office.rubric_str }}
        </td>
      </tr>
    {% endfor %}
</table>

{% include "search/paginator.html" %}

{% endblock content %}


