<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>{% block title %}Home {% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css" />

    {% block head_meta %}
    {% block head_meta_charset %}
    {% endblock head_meta_charset %}
    <meta name="yandex-verification" content="5c8f653019005048" />
    <meta name="google-site-verification" content="z3C44ad-5G9K768OYL0xzTf6xtJeshD-WMGmdqMe9oU" />
    {% endblock head_meta %}
    {% block serp_description %} {% endblock serp_description %}
    {% block meta_robots %} {% endblock meta_robots %}
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6WBY07BML5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6WBY07BML5');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(74114962, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>

    <noscript><div><img src="https://mc.yandex.ru/watch/74114962" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>


<body vlink="#999999" alink="#000000">


<div class="web_site_header mobile">
    <div>
        <span class="disclosures_top_header">Дискложес&nbsp;
            <span style="float:right; font-size: 150%;">
                <a href="javascript:void(0);" style="color: black; text-decoration: none;" onclick="showMobileMenu()">
            &#9776; &nbsp;
                </a>
            </span>
            <span style="float:right;">
                <a href="https://ru.wikipedia.org/wiki/%D0%92%D1%82%D0%BE%D1%80%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8_%D0%BD%D0%B0_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%83_(2022)">
                    <img src="/static/images/pozor_putina.jpg"/ width=60/>
                </a>
               &nbsp;&nbsp;&nbsp;
            </span>
        </span>
        <div><br/>декларации о доходах</div>
    </div>
    <hr />
    <div id="mobileMenu" class="topnav">
          <div class="menu_table">
              <div class="row">
                <a  href="/section/">Декларации</a>
                <a class="mobile_menu_dark_cell" href="/about.html">О проекте</a>
              </div>
              <div class="row">
                <a class="mobile_menu_dark_cell" href="/office/">Ведомства</a>
                <a  href="/statistics/">Статистика</a>
              </div>
              <div class="row">
                <a href="/file/">Исходники</a>
                <a class="mobile_menu_dark_cell" href="/news.html">Новости</a>
              </div>
              <div class="row">
                <a class="mobile_menu_dark_cell" href="/person/">Декларанты</a>
              </div>
            </div>
      </div>

</div>

<div class="web_site_header desktop">
    <table>
        <tr>
            <td>
                <span class="disclosures_top_header">Дискложес</span>
                <span style="display:inline;">&nbsp;&nbsp;&nbsp;  Автоматизированный сбор деклараций о доходах</span>
            </td>
            <td rowspan="2">
                <a href="https://ru.wikipedia.org/wiki/%D0%92%D1%82%D0%BE%D1%80%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8_%D0%BD%D0%B0_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%83_(2022)">
                    <img src="/static/images/pozor_putina.jpg"/ width=60/>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <span id="menu_div"></span>
            </td>
        </tr>
    </table>
    <hr />

</div>


{# The Document Body #}
<div id="site-wrapper">
    {% block content %}
    if you see this, something is wrong!
    {% endblock content %}
</div>

<script type="text/javascript" src="/static/main_menu.js"></script>

</body>
</html>