<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">



    <title>{% block title %}Home {% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css" %}">

    {% block head_favicon %}
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    {% endblock head_favicon %}

    {% block head_meta %}
    {% block head_meta_charset %}
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8"/>
    {% endblock head_meta_charset %}
    <meta name="yandex-verification" content="5c8f653019005048" />
    <meta name="google-site-verification" content="z3C44ad-5G9K768OYL0xzTf6xtJeshD-WMGmdqMe9oU" />
    {% endblock head_meta %}
    {% block serp_description %} {% endblock serp_description %}
    {% block meta_robots %} {% endblock meta_robots %}



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6WBY07BML5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6WBY07BML5');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(74114962, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>

    <noscript><div><img src="https://mc.yandex.ru/watch/74114962" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>


<body vlink="#999999" alink="#000000">

<header>
    <div>
        <div class="disclosures_top_header">Дискложес&nbsp;
            <span class="mobile" style="float:right; font-size: 150%;">
                <a href="javascript:void(0);" style="color: black; text-decoration: none;" onclick="showMobileMenu()">
            &#9776; &nbsp;
                </a>
            </span>
        </div>
        <div class="header2 mobile"><br/>декларации о доходах</div>
        <div class="header2 desktop">Автоматизированный сбор деклараций о доходах</div>
    </div>
    <div class="desktop" id="menu_div"></div>

    <hr />
      <div id="mobileMenu" class="topnav">
          <div class="menu_table">
              <row>
                <a  href="/section/">Декларации</a>
                <a class="mobile_menu_dark_cell" href="/about.html">О проекте</a>
              </row>
              <row>
                <a class="mobile_menu_dark_cell" href="/office/">Ведомства</a>
                <a  href="/statistics/">Статистика</a>
              </row>
              <row>
                <a href="/file/">Документы</a>
                <a class="mobile_menu_dark_cell" href="/news.html">Новости</a>
              </row>
              <row>
                <a class="mobile_menu_dark_cell" href="/person/">Декларанты</a>
              </row>
            </div>
      </div>

</header>

{# The Document Body #}
<div id="site-wrapper">
    {% block content %}
    if you see this, something is wrong!
    {% endblock content %}
</div>

<script type="text/javascript" src="/static/main_menu.js"></script>

</body>
</html>