<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home {% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css" %}">

    {% block head_favicon %}
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    {% endblock head_favicon %}

    {% block head_meta %}
    {% block head_meta_charset %}
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8"/>
    {% endblock head_meta_charset %}
    <meta name="yandex-verification" content="5c8f653019005048" />
    <meta name="google-site-verification" content="z3C44ad-5G9K768OYL0xzTf6xtJeshD-WMGmdqMe9oU" />
    {% endblock head_meta %}
    {% block serp_description %} {% endblock serp_description %}
</head>


<body vlink="#999999" alink="#000000">

<header>
    <div>
        <div class="header1">Дискложес&nbsp;</div>
        <div class="header2">Автоматизированный сбор деклараций о доходах</div>
    </div>
    <div id="menu_div"></div>
    <hr/>
</header>

{# The Document Body #}
<div id="site-wrapper">
    {% block content %}
    if you see this, something is wrong!
    {% endblock content %}
</div>

<script type="text/javascript" src="/static/main_menu.js"></script>

</body>
</html>

