[Unit]
Description=workers for dlrobots

[Service]
ExecStart=/bin/bash -x /home/sokirko/smart_parser/tools/robots/dlrobot/scripts/cloud/create_workers.sh
ExecStop=pkill -f dlrobot_worker.py; pkill -f firefox;
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
