    [Unit]
    Description=workers for dlrobots

    [Service]
    ExecStart=python3 /home/sokirko/smart_parser/tools/robots/dlrobot/scripts/cloud/dlrobot_worker_service.py start
    ExecStop=python3 /home/sokirko/smart_parser/tools/robots/dlrobot/scripts/cloud/dlrobot_worker_service.py stop
    Type=oneshot
    RemainAfterExit=yes

    [Install]
    WantedBy=multi-user.target
