{% extends 'base.html' %}

{% block title %}Информация об исходном файле деклараций{% endblock title %}

{% block content %}

ID файла: {{ source_document.id }} <br/>

Ведомство: {{ source_document.office.name }} <br/>

ID ведомства: {{ source_document.office.id }} <br/>

Скаченный файл: <a href="/static/{{ source_document.file_path }}"> {{ source_document.file_path }} </a> <br/>

Sha256: {{ source_document.sha256 }} <br/>

Intersection status: {{ source_document.intersection_status }} <br/>

{% for web_location in source_document.web_reference_set.all %}
    Сайт: <a href="http://{{ web_location.dlrobot_url }}"> {{ web_location.dlrobot_url }} </a> <br/>
    <br>
{% endfor %}


{% for decl_info in source_document.declarator_file_reference.all %}
    <a href="{{decl_info.declarator_document_file_url}}"> Ссылка на документ в Деклараторе </a>
    <br>
{% endfor %}



{% endblock content %}




