{% extends 'base.html' %}

{% block title %}Найденные декларации {% endblock title %}

{% block content %}

<form action="{% url 'section_search' %}" method="get">
    {{ form.q }}
    <input type="submit" value="Поиск">
    <br/>
</form>

{% if query %}
  <br/>
      Число найденных деклараций: {{ hits_count }}
  <br/>

  <ul>
    {% for section in object_list %}
      <li>
        {{ section.id }} : <a href="/section/{{ section.id }}">{{ section.person_name }} </a> ({{ section.income_year }})
      </li>
    {% endfor %}
  </ul>

  {% include "search/paginator.html" %}

{% endif %}

{% endblock content %}