{% extends 'base.html' %}
{% block title %}Второе ведомство{% endblock title %}

{% block content %}

<h1>Второе ведомство (проект реформы базы данных) </h1>

<p>
	В самом простом случае человек работает в одном ведомстве,
	например,  он — судья Басманного суда города Москвы.  Cхема «один человек за один год работает
	в одном ведомстве» считается дефолтной в базе данных disclosures.ru.  В случае перехода с одного места на
	другое в базе могут возникнуть две декларации за один год.
	Это две декларации одного чиновника, который перешёл из Правительства РФ на работу мэром Москвы.
</p>

<p>
	Если смотреть внимательно, можно найти довольно много случаев, когда мы можем приписать несколько ведомств одному декларанту.
	Например,  министр Правительства  РФ одновременно возглавляет  своё министерство и является членом Правительства РФ. Или например,
	депутат Госдумы является депутатом и членом какого-нибудь думского комитета. Существуют случаи, когда по закону декларанты обязаны
	предоставлять сведения о доходах в вышестоящую организацию, например,  директора школ подают сведения о доходах в Департамент (Министерство)
	образования субъекта РФ, главврачи больниц — в Департамент здравоохранения.  В таком случае мы вынуждены учитывать директоров школ
	не как сотрудников своих организаций, а как чиновников, принадлежащих Департаменту образования.  Вообще руководители ведомств часто выделяются
	из своего ведомства и их декларации оказываются приписанными вышестоящим организациям или в отдельно стоящее ведомство. Например, Президент РФ
	— это должность и отдельное ведомство,  президент Чеченской Республики -  должность и отдельное ведомство.   Здесь нет простого
	единообразия. Наверно, специалисты по государственному управлению легко объяснят,  почему мэр Москвы подаёт декларации вместе с
	своим аппаратом,
	губернатор Санкт-Петербурга
	отдельно  от всех. Мы видим, что оба чиновника являются руководителями исполнительной власти субъектов федерации.   Декларацию
	мэра Москвы точно надо показывать по фильтрам (регион Москва,  рубрика «Исполнительная власть»), декларацию
	губернатора Санкт-Петербурга  надо показывать по фильтрам (регион Санкт-Петербург,  рубрика «Исполнительная власть»).  Мы знаем,
	что правительством Москвы   руководит мэр Москвы, а правительством Санкт-Петербурга — губернатор  Санкт-Петербурга.  Если руководит,
	значит является частью, значит логично показывать их декларации по фильтрам Правительство Москвы (Санкт-Петербурга).  Для
	этого нужно конкретным должностям (или отдельным декларациям) приписать второе ведомство на основании определённых  эвристических
	правил. Такие правила пока не созданы, поэтому пока пользователю и автоматическим процессам приходится сталкиваться
	с определёнными сложностями при фильтрации по ведомству.
</p>
{% endblock content %}
