{% extends 'base.html' %}
{% block title %}Предварительная база деклараций{% endblock title %}

п
{% block content %}

<p> Каждый год российские чиновники обязаны публиковать декларации о доходах. </p>
<p>Проект <a href="https://declarator.org">Декларатор</a>
много лет собирает эти декларации, проверяет и публикует их.
Однако скорость процедуры проверки деклараций не позволяет опубликовать всю имеющуюся информацию. Чтобы преодолеть
    эту неполноту, был создан новый сайт - Дискложес.ру, на котором вы сейчас находитесь.</p>
<p>
    Проект Дискложес.ру  публикует предварительную базу деклараций о доходах.
    Декларации обрабатываются автоматизированно, поэтому в публикуемых данных довольно много ошибок (примерно 10%), однако для каждой полученной
    декларации мы предоставляем ссылку на исходный документ.  Пользователь сам может проверить, правильно ли был произведен анализ документа.
</p>
<p>
    Исходный код анализаторов  выложен в <a href="https://github.com/TI-Russia/smart_parser"> открытый доступ</a> , и нам
    очень нужна помощь в развитии проекта, пишите на email sokirko@yandex.ru (Алексей Сокирко).
</p>

<p>
    Процесс обработки начинается со скачивания <b>исходных документов</b> с сайтов ведомства (порядка 7000 веб-сайтов). На одном сайте
    могут быть собраны документы от разных организаций, а документ надо  приписать к
    какой-то одной.  Термины <b>ведомство</b>,  <b>офис</b>, <b>организация</b> мы не различаем между собой.
    Каждый документ содержит сколько-то деклараций о доходах  за конкретный год.  Отдельную такую запись для отдельного человека из конкретного
    документа мы называем <b>декларацией</b> или <b>секцией</b> (у нас равнозначные термины).   Человека, к которому относится эта запись,
    мы называем  <b>декларантом</b> или <b>персоной</b>. Получается такая схема: </p>
    <p>
    <image src="/static/er_diagram.svg"> </image>
    </p>

</p>

{% endblock content %}
