{% extends 'base.html' %}
{% block title %}Предварительная база деклараций{% endblock title %}

п
{% block content %}

<p> Каждый год российские чиновники обязаны публиковать декларации о доходах. </p>
<p>Проект <a href="https://declarator.org">Декларатор</a>
много лет собирает эти декларации, проверяет и публикует их.
Однако скорость процедуры проверки деклараций не позволяет опубликовать всю имеющуюся информацию. Чтобы преодолеть
    эту неполноту, был создан новый сайт - Дискожес.ру, на котором вы сейчас находитесь.</p>
<p>
    Проект Дискложес.ру  публиует предварительную базу деклараций о доходах.
    Декларации обрабатываются автоматизированно, поэтому в публикуемых данных довольно много ошибок (примерно 10%), однако для каждой полученной
    декларации мы предоставляем ссылку на исходный документ.  Пользователь сам может проверить, правильно ли был произведен анализ документа.
</p>
<p>
    Исходный код анализаторов  выложен в <a href="https://github.com/TI-Russia/smart_parser"> открытый доступ</a> , и нам
    очень нужна помощь в развитии проекта, пишите на email sokirko@yandex.ru (Алексей Сокирко).
</p>



{% endblock content %}
