<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предварительная база деклараций</title>
    <h1> Вьювер автоматических запусков <a href="https://github.com/TI-Russia/smart_parser"> dlrobot и smart_parser  </a></h1>
    <h2> Предварительная база для сайта <a href="https://declarator.org">Декларатор</a>
        (проект НКО "<a href="https://transparency.org.ru/about/">Трансперенси Интернешнл–Р</a>")</h2>
</head>
<body>

{% include "search/search_form.html" %}

</body>
</html>