<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->

<!--[if gt IE 8]><!-->
<html class="no-js" prefix="dc: http://purl.org/dc/elements/1.1/" lang="ru"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab"/>
    <link rel='alternate' type='application/rss+xml' title='RSS'
          href='http://www.minstroyrf.ru/bitrix/rss.php?ID=2&amp;LIMIT=50'/>
    <link rel="shortcut icon" href="/favicon.ico?1" type="image/x-icon">
    <script src="/js/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="description" content="Министерство строительства и жилищно-коммунального хозяйства Российской Федерации — федеральный орган исполнительной власти" />
<link href="/bitrix/cache/css/s1/main/page_13ae8538b67c7a7b0d2db0d1cb587083/page_13ae8538b67c7a7b0d2db0d1cb587083.css?15614691884422" type="text/css"  rel="stylesheet" />
<link href="/bitrix/cache/css/s1/main/template_78a7979cef7beb1c4791d3654babbdd5/template_78a7979cef7beb1c4791d3654babbdd5.css?155415403615776" type="text/css"  data-template-style="true"  rel="stylesheet" />
<script type="text/javascript" src="/bitrix/cache/js/s1/main/template_c323001d96fb22868b500ac51577d8ca/template_c323001d96fb22868b500ac51577d8ca.js?15541540366161"></script>
<script type="text/javascript">var _ba = _ba || []; _ba.push(["aid", "6d48ab3b27bfc3bd5bf8db8ee036ccee"]); _ba.push(["host", "www.minstroyrf.ru"]); (function() {var ba = document.createElement("script"); ba.type = "text/javascript"; ba.async = true;ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ba, s);})();</script>


    <title>Главная страница | Минстрой России</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/main.css">
    <![endif]-->

    <!--{% block social_meta %}-->
    <!--{% endblock %}-->

    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css"/>
    <link href="/js/slick/slick.css" type="text/css" rel="stylesheet"/>
    <link href="/js/slick/slick-theme.css" type="text/css" rel="stylesheet"/>
	<link rel="stylesheet" href="/css/main.css?1561725727">

        <!--[if  IE 8]>
    <link rel="stylesheet" href="/css/ie8.css">
    <![endif]-->

    <!--{% block extra_css %}-->
    <!--{% endblock %}-->
	<meta name="sputnik-verification" content="xduNNDIo3oSTguzM"/>
    <script src="/js/modernizr.min.js"></script>
    <script src="/js/papaparse/papaparse.js"></script>
    <script src="/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="/js/jquery.autocomplete.min.js"></script>
    <script src="/js/masonry.min.js"></script>
    <script src="/js/fancyfields.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.touchSwipe.min.js"></script>
    <script src="/js/jquery.columnizer.js"></script>
    <script src="/js/slick/slick.min.js"></script>

    <script src="/js/mediael/mediaelement-and-player.min.js"></script>
    <link rel="stylesheet" href="/js/mediael/mediaelementplayer.css"/>

    <!--Jquery.form-->
    <script type="text/javascript" src="/js/jquery.form.min.js"></script>

    <!--Maskedinput-->
    <script src="/js/jquery.maskedinput.min.js"></script>

    <!--Actual sizes-->
    <script type="text/javascript" src="/js/jquery.actual.min.js"></script>

    <!--Equal heights-->
    <script type="text/javascript" src="/js/jquery.equalheights.js"></script>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=ru"></script>

    <!--{% block extra_js_head %}
    {% endblock %}-->

    <!-- widget start -->

    <!-- / widget end -->

</head>
<body>
<div class="bg-body-bg"></div>
<div id="panel"></div>
<div class="lowVision">
	<div class="lowVision_content">
    	<div class="low_item fonSizes">
            <h3>Размер шрифта:</h3>
            <span><a href="#" onClick="setLowFonSize(1);return false;" class="font_1" style="font-size:17px;">Маленький</a></span>
            <span><a href="#" onClick="setLowFonSize(3);return false;" class="font_2" style="font-size:20px;">Большой</a></span>
        </div>

        <div class="low_item low_color">
            <h3>Цвет сайта:</h3>
            <span><a href="#" onclick="setColorStyle(1);return false;"  style="font-size: 17px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 2px solid rgb(0, 0, 0); padding: 2px 6px; color: rgb(0, 0, 0); text-decoration: none;">Ч</a></span>
            <span><a onclick="setColorStyle(2);return false;"  href="#" style="font-size: 17px; background: none repeat scroll 0% 0% #000; border: 2px solid rgb(0, 0, 0); padding: 2px 6px; color: #FFF; text-decoration: none;" >Б</a></span>
            <span><a onclick="setColorStyle(3);return false;"  href="#" style="font-size: 17px; background: none repeat scroll 0% 0% #9DD1FF; border: 2px solid #063462; padding: 2px 6px; color: #063462; text-decoration: none;" >C</a></span>
        </div>
        <div class="low_item kerning">
            <h3>Кернинг:</h3>
            <span><a href="#" onclick="setKerning(1);return false;">1</a></span>
            <span><a onclick="setKerning(2);return false;"  href="#">2</a></span>
            <span><a onclick="setKerning(3);return false;"  href="#">3</a></span>
        </div>
        <div class="low_item" style="float:right;">
            <h3 style="float:right;"><a href="#" onClick="removeLowVision();return false;" style="border-bottom:1px dashed #ccc">Обычная версия</a></h3>
        </div>
    </div>
</div><!--{% block extra_js_body %}
{% endblock %}-->

<aside id="sideBlock">
    <a class="hideLink close" href="#">Меню</a>

    <nav class="accordion">
    


	
	
					<div class="navSect">
                <a href="/about/" class="droppable">О министерстве<span></span></a>
				<div class="subMenu">
		
	
	

	
	
		
							<a href="/about/#codex">Положение</a>
			
		
	
	

	
	
		
							<a href="/about/#masters">Руководство</a>
			
		
	
	

	
	
		
							<a href="/about/#departments">Департаменты</a>
			
		
	
	

	
	
		
							<a href="/about/tenders/">Государственные закупки</a>
			
		
	
	

	
	
		
							<a href="/about/internal-audit/">Внутренний аудит</a>
			
		
	
	

	
	
		
							<a href="/about/public-service/">Госслужба</a>
			
		
	
	

	
	
		
							<a href="/about/organizations/">Подведомственные организации</a>
			
		
	
	

	
	
		
							<a href="/about/institutes/">Государственные институты развития</a>
			
		
	
	

	
	
		
							<a href="/about/coordination-and-advisory-bodies/">Совещательные органы</a>
			
		
	
	

	
	
		
							<a href="/open-ministry/reference-group/">Референтные группы</a>
			
		
	
	

	
	
		
							<a href="/about/anti-corruption/">Противодействие коррупции</a>
			
		
	
	

	
	
		
							<a href="/opendata/">Открытые данные</a>
			
		
	
	

			</div></div>	
	
					<div class="navSect">
                <a href="/trades/" class="droppable">Деятельность<span></span></a>
				<div class="subMenu">
		
	
	

	
	
		
							<a href="/trades/gradostroitelnaya-deyatelnost-i-arhitektura/">Градостроительная деятельность и архитектура</a>
			
		
	
	

	
	
		
							<a href="/trades/zhilishno-kommunalnoe-hozyajstvo/"> Жилищно-коммунальное хозяйство</a>
			
		
	
	

	
	
		
							<a href="/trades/gosuslugi/">Госуслуги</a>
			
		
	
	

	
	
		
							<a href="/trades/gorodskaya-sreda/">Городская среда</a>
			
		
	
	

	
	
		
							<a href="/trades/normativno-pravovaya-deyatelnost/">Нормативно-правовая деятельность</a>
			
		
	
	

	
	
		
							<a href="/trades/zhilishnaya-politika/">Жилищная политика</a>
			
		
	
	

	
	
		
							<a href="/trades/realizaciya-gosudarstvennyh-programm/">Реализация государственных программ</a>
			
		
	
	

	
	
		
							<a href="/trades/mezhdunarodnye-otnosheniya/">Международные отношения</a>
			
		
	
	

	
	
		
							<a href="/investors/">Инвестиции в ЖКХ</a>
			
		
	
	

	
	
		
							<a href="/trades/kontrolnaya-deyatelnost/">Контрольная деятельность</a>
			
		
	
	

	
	
		
							<a href="/trades/litsenzirovanie/">Лицензирование</a>
			
		
	
	

	
	
		
							<a href="/trades/initsiativnye-proekty/">Инициативные проекты</a>
			
		
	
	

			</div></div>	
	
					<div class="navSect">
                <a href="/press/" class="droppable">Пресс-центр<span></span></a>
				<div class="subMenu">
		
	
	

	
	
		
							<a href="/press/?d=all">Все новости</a>
			
		
	
	

	
	
		
							<a href="/press/?d=news">Новости</a>
			
		
	
	

	
	
		
							<a href="/press/?d=interviews">Интервью</a>
			
		
	
	

	
	
		
							<a href="/press/?d=smi">СМИ</a>
			
		
	
	

	
	
		
							<a href="/press/?d=videos">Видео</a>
			
		
	
	

	
	
		
							<a href="/press/?d=anonsy">Анонсы</a>
			
		
	
	

	
	
		
							<a href="/press/?d=fotoreportazh">Фото</a>
			
		
	
	

	
	
		
							<a href="/press/?d=infografika">Инфографика</a>
			
		
	
	

	
	
		
							<a href="/press/contacts/">Контакты для СМИ</a>
			
		
	
	

	
	
		
							<a href="/press/?d=presentations">Доклады и выступления</a>
			
		
	
	

			</div></div>	
	
		
							<div class="navSect"><a href="/docs/" class="">Документы</a></div>
			
		
	
	

	
	
		
							<div class="navSect"><a href="/dwellers/" class="">Гражданам</a></div>
			
		
	
	

	
	
		
							<div class="navSect"><a href="/specialists/" class="">Специалистам</a></div>
			
		
	
	

	
	
					<div class="navSect">
                <a href="/openworld/" class="droppable">Контакты<span></span></a>
				<div class="subMenu">
		
	
	

	
	
		
							<a href="/openworld/">Схема проезда</a>
			
		
	
	

	
	
		
							<a href="/cabinet/">Личный кабинет</a>
			
		
	
	

	
	
		
							<a href="/contact/">Обратная связь</a>
			
		
	
	

	
	
		
							<a href="/openworld/obshestvennyj-sovet/news-of-the-meetings/">Общественный совет</a>
			
		
	
	

	</div></div>
 
</nav>
    <div class="socBox">
        <a href="https://instagram.com/minstroyrf/" target="_blank" class="social-icon in"></a>
        <a href="http://www.youtube.com/channel/UC68MTA8Cmj72bMmvkGD5vAQ" target="_blank" class="social-icon yt"></a>
        <a href="https://www.facebook.com/minstroyrf" target="_blank" class="social-icon fb"></a>
        <a href="https://twitter.com/minstroyrf" target="_blank" class="social-icon tw"></a>
    </div>

    <nav class="gov-links">

        


	<a href="http://www.kremlin.ru/" target="_blank">Президент РФ</a>


	<a href="http://government.ru/" target="_blank">Правительство РФ</a>


	<a href="http://www.council.gov.ru" target="_blank">Совет Федерации РФ</a>


	<a href="http://www.duma.gov.ru/" target="_blank">Государственная дума РФ</a>



    </nav>
    <div class="copy">
        <a href="#">Условия использования сайта</a>
        <a href="#">Правовая информация</a>
        <div>&copy; 2014 Минстрой России</div>
    </div>
</aside>
<div id="wrapper">
    <header class="page-header">
        <form action="/search/" method="get" class="site-search">
            <div class="container">
                <a class="site-search-hide js-site-search-hide" href="#">&times;</a>
                <fieldset class="site-search-fields">
                    <label class="site-search-label" for="site-search">
                        Поиск
                        <input class="site-search-input" id="site-search" type="search" name="q"/>

                    </label>
                    <input class="site-search-submit" type="submit" value=""/>
                </fieldset>
                <ol class="site-search-links">
                    <li class="site-search-links-item">
                        <a class="site-search-link" href="/search/">Расширенный поиск</a>
                    </li>
                    <li class="site-search-links-item">
                        <a class="site-search-link" href="/docs/">Поиск документов</a>
                    </li>
                </ol>
            </div>
        </form>
        <div class="container">
            <!--<div class="update-info">Обновление страницы: <time pubdate datetime="{{ last_modified.isoformat }}">{{ last_modified }}</time></div>-->
            <a href="/" class="logo"></a>
            <a href="/" class="backLink logo480"></a>

            <nav class="top-menu">
                
<ul>


	
	
					<li><a href="/about/" class="droppable  ">О министерстве<span></span></a>
				<ul class="subMenu">
		
	
	

	
	
		
							<li><a href="/about/#codex">Положение</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/#masters">Руководство</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/#departments">Департаменты</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/tenders/">Государственные закупки</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/internal-audit/">Внутренний аудит</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/public-service/">Госслужба</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/organizations/">Подведомственные организации</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/institutes/">Государственные институты развития</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/coordination-and-advisory-bodies/">Совещательные органы</a></li>
			
		
	
	

	
	
		
							<li><a href="/open-ministry/reference-group/">Референтные группы</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/anti-corruption/">Противодействие коррупции</a></li>
			
		
	
	

	
	
		
							<li><a href="/opendata/">Открытые данные</a></li>
			
		
	
	

			</ul></li>	
	
					<li><a href="/trades/" class="droppable  ">Деятельность<span></span></a>
				<ul class="subMenu">
		
	
	

	
	
		
							<li><a href="/trades/gradostroitelnaya-deyatelnost-i-arhitektura/">Градостроительная деятельность и архитектура</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/zhilishno-kommunalnoe-hozyajstvo/"> Жилищно-коммунальное хозяйство</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/gosuslugi/">Госуслуги</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/gorodskaya-sreda/">Городская среда</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/normativno-pravovaya-deyatelnost/">Нормативно-правовая деятельность</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/zhilishnaya-politika/">Жилищная политика</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/realizaciya-gosudarstvennyh-programm/">Реализация государственных программ</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/mezhdunarodnye-otnosheniya/">Международные отношения</a></li>
			
		
	
	

	
	
		
							<li><a href="/investors/">Инвестиции в ЖКХ</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/kontrolnaya-deyatelnost/">Контрольная деятельность</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/litsenzirovanie/">Лицензирование</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/initsiativnye-proekty/">Инициативные проекты</a></li>
			
		
	
	

			</ul></li>	
	
					<li><a href="/press/" class="droppable  ">Пресс-центр<span></span></a>
				<ul class="subMenu">
		
	
	

	
	
		
							<li><a href="/press/?d=all">Все новости</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=news">Новости</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=interviews">Интервью</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=smi">СМИ</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=videos">Видео</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=anonsy">Анонсы</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=fotoreportazh">Фото</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=infografika">Инфографика</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/contacts/">Контакты для СМИ</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=presentations">Доклады и выступления</a></li>
			
		
	
	

			</ul></li>	
	
		
							<li><a href="/docs/" class="">Документы</a></li>
			
		
	
	

	
	
		
							<li><a href="/dwellers/" class="">Гражданам</a></li>
			
		
	
	

	
	
		
							<li><a href="/specialists/" class="">Специалистам</a></li>
			
		
	
	

	
	
					<li><a href="/openworld/" class="droppable  ">Контакты<span></span></a>
				<ul class="subMenu">
		
	
	

	
	
		
							<li><a href="/openworld/">Схема проезда</a></li>
			
		
	
	

	
	
		
							<li><a href="/cabinet/">Личный кабинет</a></li>
			
		
	
	

	
	
		
							<li><a href="/contact/">Обратная связь</a></li>
			
		
	
	

	
	
		
							<li><a href="/openworld/obshestvennyj-sovet/news-of-the-meetings/">Общественный совет</a></li>
			
		
	
	

	</ul></li>
</ul>
<div class="menu-clear-left"></div>
            </nav>

            <a class="hideLink" href="#">Меню</a>
            <div class="icoMenu">
                <a href="#" class="top-menu-icon search js-site-search-show"></a>
            </div>
                        <div class="lowVision_menu">
                <a href="javascript:void(0);"><img alt="" src="/include/low/low_icon.png"
                                                   style="vertical-align: middle;"> для слабовидящих</a>
            </div>
            <div class="header-socBox">
                <a href="https://twitter.com/minstroyrf" target="_blank"
                   class="header-social-icon header-social-icon-tw"></a>
                <a href="http://www.youtube.com/channel/UC68MTA8Cmj72bMmvkGD5vAQ" target="_blank"
                   class="header-social-icon header-social-icon-yt"></a>
                <a href="https://instagram.com/minstroyrf/" target="_blank"
                   class="header-social-icon header-social-icon-in"></a>
                <a href="https://www.facebook.com/minstroyrf" target="_blank"
                   class="header-social-icon header-social-icon-fb"></a>
                <a href="http://ok.ru/group/53598208065632" target="_blank"
                   class="header-social-icon header-social-icon-ok"></a>
                <a href="http://vk.com/minstroyrfofficial" target="_blank"
                   class="header-social-icon header-social-icon-vk"></a>
            </div>

                        <div class="clearfix"></div>
        </div>
    </header>

    <!--{% block parallax %}
    {% endblock %}-->

            <div class="parallax-images">
            <div class="parallax-image-container">
                <img class="parallax-image parallax-image-1" src="/img/parallax1.jpg" alt=""/>
            </div>
            <div class="parallax-image-container">
                <img class="parallax-image parallax-image-2" src="/img/parallax2.jpg" alt=""/>
            </div>
            <div class="parallax-image-container">
                <img class="parallax-image parallax-image-3" src="/img/parallax3.jpg" alt=""/>
            </div>
        </div>
        
    <main class="page-content " id="top">

        
<div class="parallax parallax1 clearfix content-section" id="realMinistry" data-parallax-image="1">
    <div class="parallax-title">СОЗИДАНИЕ И РАЗВИТИЕ</div>
</div>
<div class="institute-links institutes-background">
    <div class="container">
        
	    <a href="/about/institutes/#inst3" class="institute-link institute-1" id="bx_3218110189_1">
        <div class="institute-logo">&nbsp;</div>
        <div class="institute-text">ГОСУДАРСТВЕННАЯ КОРПОРАЦИЯ ФОНД СОДЕЙСТВИЯ РЕФОРМИРОВАНИЮ ЖКХ</div> 
        <div class="clearfix"></div>
    </a>
	    <a href="/about/institutes/#inst2" class="institute-link institute-2" id="bx_3218110189_2">
        <div class="institute-logo">&nbsp;</div>
        <div class="institute-text">ДОМ.РФ</div> 
        <div class="clearfix"></div>
    </a>
	    <a href="/about/institutes/#inst1" class="institute-link institute-3" id="bx_3218110189_3">
        <div class="institute-logo">&nbsp;</div>
        <div class="institute-text">ФАУ «Главгосэкспертиза России»</div> 
        <div class="clearfix"></div>
    </a>

        <div class="clearfix"></div>
    </div>
</div>
<div class="news-section content-section js-jump-news i-news-main" id="lastNews">
    <div class="container">
        
                                
<div class="news">
    <div class="js-load-more-press-here">

                    <div class="news-item" id="bx_651765591_18626">
			<span class="news-item-date">5 июля, 14:25<span class="news-item-type"><a href="/press/?d=news">Новости</a></span></span>
		<p><a href="/press/?tags=%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%B0%D1%8F+%D1%81%D1%80%D0%B5%D0%B4%D0%B0">городская среда</a></p>

            <a href="/press/regionam-neobkhodimo-razvivat-institut-glavnykh-arkhitektorov/" class="news-item-link">
                                    <div class='anons_picture'>
                        <img src="/upload/resize_cache/iblock/e61/370_250_2/Izobrazhenie-_3_.jpeg" alt="Регионам необходимо развивать институт главных архитекторов" width="370" height="250" />
                                            			<img src="/upload/resize_cache/iblock/8bf/370_250_2/Izobrazhenie-_4_.jpeg" alt="Регионам необходимо развивать институт главных архитекторов" width="370" height="250" />
							  
                                            </div>
                	
                <span class="news-item-title">Регионам необходимо развивать институт главных архитекторов</span>
            <div class="clearfix"></div>
            </a>
        </div>
                    <div class="news-item" id="bx_651765591_18624">
			<span class="news-item-date">4 июля, 22:00<span class="news-item-type"><a href="/press/?d=news">Новости</a></span></span>
		<p><a href="/press/?tags=%D0%BD%D0%B0%D1%86%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B">нацпроекты</a>, <a href="/press/?tags=%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%B0%D1%8F+%D1%81%D1%80%D0%B5%D0%B4%D0%B0">городская среда</a></p>

            <a href="/press/vladimir-yakushev-indeks-kachestva-gorsredy-integralnyy-pokazatel-/" class="news-item-link">
                                    <div class='anons_picture'>
                        <img src="/upload/resize_cache/iblock/556/370_250_2/8E94EB15_2679_4021_8FE0_786A2274A1CD.jpeg" alt="Владимир Якушев: Индекс качества горсреды  - интегральный показатель " width="370" height="250" />
                                            			<img src="/upload/resize_cache/iblock/8a6/370_250_2/B2867F62_F150_4327_A566_C8EB07B41E1D.jpeg" alt="Владимир Якушев: Индекс качества горсреды  - интегральный показатель " width="370" height="250" />
							                    			<img src="/upload/resize_cache/iblock/e96/370_250_2/ABC54468_EBD5_46A7_B460_4244DCE5042C.jpeg" alt="Владимир Якушев: Индекс качества горсреды  - интегральный показатель " width="370" height="250" />
							  
                                            </div>
                	
                <span class="news-item-title">Владимир Якушев: Индекс качества горсреды  - интегральный показатель </span>
            <div class="clearfix"></div>
            </a>
        </div>
                    <div class="news-item" id="bx_651765591_18623">
			<span class="news-item-date">4 июля, 20:00<span class="news-item-type"><a href="/press/?d=news">Новости</a></span></span>
		<p><a href="/press/?tags=%D0%B4%D0%BE%D0%BB%D0%B5%D0%B2%D0%BE%D0%B5+%D1%81%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE">долевое строительство</a></p>

            <a href="/press/minstroy-rossii-poruchil-regionam-aktivizirovat-rabotu-po-publikatsii-dannykh-v-eiszhs/" class="news-item-link">
                                    <div class='anons_picture'>
                        <img src="/upload/resize_cache/iblock/0d1/370_250_2/IMG_5897.JPG" alt="Минстрой России поручил регионам активизировать работу по публикации данных в ЕИСЖС" width="370" height="250" />
                                            			<img src="/upload/resize_cache/iblock/7e3/370_250_2/IMG_5893.JPG" alt="Минстрой России поручил регионам активизировать работу по публикации данных в ЕИСЖС" width="370" height="250" />
							                    			<img src="/upload/resize_cache/iblock/efb/370_250_2/IMG_5871.JPG" alt="Минстрой России поручил регионам активизировать работу по публикации данных в ЕИСЖС" width="370" height="250" />
							  
                                            </div>
                	
                <span class="news-item-title">Минстрой России поручил регионам активизировать работу по публикации данных в ЕИСЖС</span>
            <div class="clearfix"></div>
            </a>
        </div>
        </div>
    <div class="clearfix"></div>
</div>


<script>
	$(document).ready(function(){
	  $('.anons_picture').slick({
	  	arrows: false,
	  	dots: true
	  });
	});
</script>
    </div>
</div>

	<section class="region-news">
    <div class="container">
        <h2 class="region-news__title">Новости регионов</h2>
        <div class="region-news__wrap">
                            
                                    
                    <div class="region-news__column region-news__column-left" style="background-image: url('/upload/resize_cache/iblock/a75/600_350_2/20190701-Zabai_kale1.jpg')" id="bx_1373509569_18618">
                        <div class="region-news__left-link_wrap">
                            <div class="region-news__column-left_tags">
                                                            </div>
                            <a href="/press/glava-zabaykalskogo-kraya-aleksandr-osipov-osmotrel-obekty-blagoustroystva-realizuemye-po-natsionaln/" class="region-news__column-left_title">Глава Забайкальского края Александр Осипов осмотрел объекты благоустройства, реализуемые по национальному проекту «Жильё и городская среда»</a>
                            <time class="region-news__column-left_time">01 Июл, 16:30</time>
                        </div>
                    </div>

                    <div class="region-news__column region-news__column-right">
                
                            
                
                        <div class="region-news__left-link_wrap" id="bx_1373509569_18594">
                            <div class="region-news__column-right_tags">
                                <a href="/press/?tags=%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%B0%D1%8F+%D1%81%D1%80%D0%B5%D0%B4%D0%B0" class="region-news__column-right_tag">городская среда</a>, <a href="/press/?tags=%D0%BD%D0%B0%D1%86%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B" class="region-news__column-right_tag">нацпроекты</a>                            </div>
                            <a href="/press/v-novosibirskoy-oblasti-nachalsya-vvod-v-ekspluatatsiyu-pervykh-obektov-blagoustroystva-po-natsproek/" class="region-news__column-right_title">
                                В Новосибирской области начался ввод в эксплуатацию первых объектов благоустройства по нацпроекту                            </a>
                            <time class="region-news__column-right_time">26 Июн, 19:00</time>
                        </div>

                
                            
                
                        <div class="region-news__left-link_wrap" id="bx_1373509569_18597">
                            <div class="region-news__column-right_tags">
                                <a href="/press/?tags=%D0%BA%D0%B0%D0%BF%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82" class="region-news__column-right_tag">капремонт</a>                            </div>
                            <a href="/press/v-zarinske-altayskogo-kraya-vypolnili-plan-kapremonta-2019-goda/" class="region-news__column-right_title">
                                В Заринске Алтайского края выполнили план капремонта 2019 года                            </a>
                            <time class="region-news__column-right_time">26 Июн, 13:10</time>
                        </div>

                
                                </div>
                    <!-- /.region-news__column region-news__column-right -->
        </div>
    </div>
</section>
<div class="news-menu">
    <div class="container">
        <a href="/press/" class="button">Все новости</a>
                    <a href="/press/?d=interviews" class="button">ИНТЕРВЬЮ</a>
                        <a href="/press/?d=smi" class="button">СМИ</a>
                        <a href="/press/?d=videos" class="button">Видео</a>
                        <a href="/press/?d=anonsy" class="button">Анонсы</a>
                        <a href="/press/?d=infografika" class="button">Инфографика</a>
                        <a href="/press/?d=fotoreportazh" class="button">Фоторепортаж</a>
                    <a href="/press/?d=presentations" class="button-blue">Доклады и выступления</a>
        <a href="/about/anti-corruption/" class="button-blue">Противодействие коррупции</a><br>
        <a href="/i-future/" class="button-blue">«Я – строитель Будущего!»</a>
        <!-- <a href="/trades/gosuslugi/gradostroitelnyy-konkurs/" class="button-blue">Градостроительный конкурс</a> -->
        <!-- <a href="https://xn----htbqamcgepku.xn--p1ai/ru/about" class="button-blue" target="_blank">Конкурс архитектурных концепций стандартного жилья и жилой застройки</a> -->
        <!-- <a href="http://adkbca.ru/#%D0%BA%D0%BE%D0%BD%D0%BA%D1%83%D1%80%D1%81%D1%8B" class="button-blue" target="_blank">Третий Всероссийский конкурс СМИ «Созидание и развитие»</a> -->
    </div>
</div>
<div class="prior-projects">
	<div class="container">

		<h2>Приоритетные проекты</h2>
		<div class="prior-elem">
			<a href="/trades/gorodskaya-sreda/strategicheskoe-napravlenie-razvitiya-zhkkh-i-gorodskaya-sreda/" class="project">
				<div class="prior-icons projec-inner prior-icons-1"></div>
				<div class="prior-text projec-inner">«ЖКХ и городская среда»</div><div class="clear"></div>
			</a>

			<a href="/trades/zhilishnaya-politika/federalnyy-proekt-zhile/" class="project">
				<div class="prior-icons prior-icons-2 projec-inner"></div>
				<div class="prior-text projec-inner">Федеральный проект «Жилье»</div>
			</a>

			<div class="clear"></div> 
		</div>

		<h2>Ведомственный проект</h2>
		<div class="prior-elem">
			<a href="/trades/gorodskaya-sreda/proekt-tsifrovizatsii-gorodskogo-khozyaystva-umnyy-gorod/" class="project">
				<div class="prior-icons prior-icons-3 projec-inner"></div>
				<div class="prior-text projec-inner">Умный город</div>
			</a>
			<div class="clear"></div> 
			<!-- <a id="newsletter" href="http://media.strelka-kb.com/" target="_blank">Бюллетень городов России</a> -->
			<a class="inner-project__item consruct" href="https://xn--80az8a.xn--d1aqf.xn--p1ai/" target="_blank">Единая информационная система жилищного строительства</a>
			<a class="inner-project__item inner-project__item--gis-zhkh" href="https://dom.gosuslugi.ru/#!/main" target="_blank">ГИС ЖКХ</a>
		</div>
	</div>
</div>

<div class="parallax parallax2 content-section" id="activBlock" data-parallax-image="2">
    <div class="parallax-title">МИНИСТЕРСТВО РЕАЛЬНЫХ ДЕЛ</div>
    <div class="parallax-menu">
        <div class="services-menu">    
            <a href="/trades/gradostroitelnaya-deyatelnost-i-arhitektura/" class="button">Градостроительная деятельность и архитектура</a>
            <a href="/trades/zhilishno-kommunalnoe-hozyajstvo/" class="button">Жилищно-коммунальное хозяйство</a> 
            <a href="/trades/gosuslugi/" class="button">Госуслуги</a>   
            <a href="/trades/normativno-pravovaya-deyatelnost/" class="button">Нормативно-правовая деятельность</a>     
            <a href="/trades/zhilishnaya-politika/" class="button">Жилищная политика</a>      
            <a href="/trades/realizaciya-gosudarstvennyh-programm/" class="button">Реализация государственных программ</a>
            <a href="/trades/mezhdunarodnye-otnosheniya/" class="button">Международные отношения</a>         
        </div>
    </div>
</div>

         <div class="documents-container content-section" id="dockBlock">
    <div class="center__side">
		<h2>В центре внимания</h2>
		<div class="document">
		    <a class="document-icon document-icon-docx" href="/docs/15490/"></a>
			<div class="document-meta">
		    	<a class="document-title" href="/docs/15490/">Об обязанности застройщиков по уплате обязательных отчислений (взносов) в компенсационный фонд</a>
		        <a class="document-watch" href="https://view.officeapps.live.com/op/view.aspx?src=http://www.minstroyrf.ru/upload/iblock/993/Na-sayt-po-Fondu.docx" target="_blank"><span class="ico"></span>Смотреть</a>
		        <a class="document-download" href="/upload/iblock/993/Na-sayt-po-Fondu.docx" download=""><span class="ico"></span>Скачать (13.48 КБ)</a>
			</div>            
		</div>
		<div class="center__inner">
			<a href="https://www.reformagkh.ru/overhaul" target="_blank"><img src="/images/img1.jpg" alt=""></a>
			<a href="https://www.reformagkh.ru/overhaul" class="center_title" target="_blank">Капитальный<br>ремонт</a>
			<p>Капитальный ремонт <br>многоквартирных домов</p>
		</div>
		<div class="center__inner">
			<a href="http://rops.minstroyrf.ru/" target="_blank"><img src="/images/img7.jpg" alt=""></a>
			<a href="http://rops.minstroyrf.ru/" class="center_title" target="_blank">Исчерпывающие перечни процедур</a>
			<p>Исчерпывающие перечни процедур <br> в сфере строительства</p>
		</div>
		<div class="center__inner">
			<a href="https://dol.minstroyrf.ru/" target="_blank"><img src="/images/баннер проектные декларации.jpg" alt=""></a>
			<a href="https://dol.minstroyrf.ru/" class="center_title" target="_blank">Проектные декларации</a>
			<p>Проектные декларации<br>долевого строительства</p>
		</div>
		<div class="center__inner">
			<a href="/problem-objects/"><img src="/images/баннер проблемные объекты.jpg" alt=""></a>
			<a href="/problem-objects/" class="center_title">Проблемные объекты<br><br></a>
			<p>Проблемные объекты<br>жилищного строительства</p>
		</div>
<!--
		<div class="center__inner">
			<a href="https://www.reformagkh.ru/relocation" target="_blank"><img src="/images/img.jpg" alt=""></a>
			<a href="https://www.reformagkh.ru/relocation" class="center_title" target="_blank">Аварийное<br>жилье</a>
			<p>Переселение граждан<br>из аварийного жилья</p>
		</div>
-->
<!-- 		<div class="center__inner">
			<a href="/investors/" target="_blank"><img src="/img/investor.jpg" alt=""></a>
			<a href="/investors/" class="center_title" target="_blank">Инвестиции<br><br></a>
			<p>Инвестиции в ЖКХ</p>
		</div> -->
<!--		<div class="center__inner">
			<a href="http://www.roscap.ru/su_155/" target="_blank"><img src="/images/img6.jpg" alt=""></a>
			<a href="http://www.roscap.ru/su_155/" class="center_title" target="_blank">Достройка объектов<br> СУ-155</a>
			<p>Справочная информация<br>Горячая линия: 8 (495) 775-59-63</p>
		</div> -->
	</div>
</div>
<!--
<div class="list-question">
	<div class="container row">
		<a href="/questions/1.php" class="col-4 col-m-6">Какие категории граждан смогут купить жилье по программе «Жилье для российской семьи»?</a>
		<a href="/questions/2.php" class="col-4 col-m-6">Ипотека. Вопросы и ответы</a>
		<a href="/questions/3.php" class="col-4 col-m-6">Меры господдержки в части улучшения жилищных условий</a>
	</div>
</div>
-->
<!-- <div class="programms-container">
    <div class="container" style="width: 1500px;">
        <div class="programms">  
            <a href="/trades/zhilishnaya-politika/?activeTab=0" class="programm">Жилье для российской семьи</a>          
            <a href="http://www.reformagkh.ru/relocation/" class="programm" target="_blank">Переселение граждан из аварийного жилья</a>
            <a href="http://www.reformagkh.ru/overhaul/" class="programm" target="_blank">Капитальный ремонт</a>
            <a href="http://www.gge.ru" class="programm" target="_blank">Главгосэкспертиза России</a>
  			<a href="/dwellers/?s=jkh-4-ctzns&amp;activeTab=0#tender-ph" class="programm" target="_blank">Госжилинспекции в регионах России</a>
			<div class="clearfix"></div>
        </div>
    </div>
</div>
-->
<div class="parallax parallax3 content-section" id="openMinistry" data-parallax-image="3">
    <div class="parallax-title">ОТКРЫТОЕ МИНИСТЕРСТВО</div>
    <div class="parallax-menu">
        <div class="open-ministry-menu">
            <a href="/opendata/">Открытые данные</a>
            <a href="/openworld/#contacts">Обращения граждан</a>
            <a href="/openworld/obshestvennyj-sovet/">Общественный совет</a>
            <a href="/about/anti-corruption/">Противодействие коррупции</a>
            <a href="/opendata/plans-and-reports/06-04-2018-publichnaya-deklaratsiya-tseley-i-zadach-ministerstva-stroitelstva-i-zhilishchno-kommunalnogo-khozya/" target="_blank">Публичная декларация</a>
            <a href="/opendata/plans-and-reports/">Планы и отчеты</a>
            <a href="/opendata/laws-discussion/">Обсуждение законопроектов</a>
            <a href="/opendata/council-of-state/">Государственный совет по строительству – 2016</a>            
        </div>
    </div>
</div>
<!--<div class="container">
    <nav class="inner_nav">
        <ol class="js_anchors">
            <li>
                <a class="iner_nav_link" href="#realMinistry">
                    <span>Минстрой России</span>
                    <i class="indicator"></i>
                </a>
            </li>
            <li>
                <a class="iner_nav_link" href="#lastNews">
                    <span>Последние публикации</span>
                    <i class="indicator"></i>
                </a>
            </li>
            <li>
                <a class="iner_nav_link" href="#activBlock">
                    <span>Деятельность</span>
                    <i class="indicator"></i>
                </a>
            </li>
            <li>
                <a class="iner_nav_link" href="#dockBlock">
                    <span>Документы</span>
                    <i class="indicator"></i>
                </a>
            </li>
            <li>
                <a class="iner_nav_link" href="#openMinistry">
                    <span>Открытое министерство</span>
                    <i class="indicator"></i>
                </a>
            </li>
        </ol>
    </nav>
</div>-->

</main>

        <footer class="page-footer">
            <div class="container">

                <nav class="gov-links">
                    
<ul>

	<li><a href="http://www.kremlin.ru/" target="_blank">Президент РФ</a></li>


	<li><a href="http://government.ru/" target="_blank">Правительство РФ</a></li>


	<li><a href="http://www.council.gov.ru" target="_blank">Совет Федерации РФ</a></li>


	<li><a href="http://www.duma.gov.ru/" target="_blank">Государственная дума РФ</a></li>

</ul>
 
                </nav>
                
                  <div class="forum-link">
                    <a href="https://www.forumspb.com/" class="footer-forum__link">
                      <img class="footer-forum__img" src="/images/logo_spief2019_ru.png" alt="ПМЭФ">
                    </a>
                    <a href="https://forumvostok.ru/" class="footer-forum__link">
                      <img class="footer-forum__img" src="/images/logo_vef2019_ru.png" alt="ВЭФ">
                    </a>
                  </div>          
                
                <nav class="bottom-menu i-second">
                    
<ul>

		<li><a href="http://open.gov.ru/">открытое правительство</a></li>

		<li><a href="http://www.gosuslugi.ru/">портал государственных услуг</a></li>

		<li><a href="http://www.oprf.ru/">общественная палата</a></li>


</ul>
 
                </nav>
                
                <div class="i-metrika-informer">
               <!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=26313837&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/26313837/3_0_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:26313837,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter26313837 = new Ya.Metrika({id:26313837,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/26313837" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

                    <a target="_blank" class="rss_icon_footer" href="/bitrix/rss.php?ID=2&amp;LIMIT=50"><img alt="" src="/img/rss_icon.png" /></a>
     </div>       
                
                <nav class="bottom-menu">
                    
<ul>

		<li><a href="/about/">о министерстве</a></li>

		<li><a href="/trades/">деятельность</a></li>

		<li><a href="/press/">пресс-центр</a></li>

		<li><a href="/docs/">документы</a></li>

		<li><a href="/dwellers/">гражданам</a></li>

		<li><a href="/specialists/">специалистам</a></li>

		<li><a href="/openworld/">контакты</a></li>

		<li><a href="/sitemap.php">карта сайта</a></li>


</ul>
 
                </nav>
                <div class="socBox">
                   <a href="https://twitter.com/minstroyrf" target="_blank" class="footer-social-icon footer-social-icon-tw"></a>
                   <a href="http://www.youtube.com/channel/UC68MTA8Cmj72bMmvkGD5vAQ" target="_blank" class="footer-social-icon footer-social-icon-yt"></a>
                   <a href="https://instagram.com/minstroyrf/" target="_blank" class="footer-social-icon footer-social-icon-in"></a>
                   <a href="https://www.facebook.com/minstroyrf" target="_blank" class="footer-social-icon footer-social-icon-fb"></a>
                    <a href="http://ok.ru/group/53598208065632" target="_blank" class="footer-social-icon footer-social-icon-ok"></a>
                    <a href="http://vk.com/minstroyrfofficial" target="_blank" class="footer-social-icon footer-social-icon-vk"></a>
                </div>

               <div class="clearfix"></div>
            </div>
                <div class="copy">
                    <div class="container">
                        <a href="/terms-of-use/">О сайте</a>
                        <!--<a href="/en/">Английская версия сайта</a>-->
                        <a href="/information-system/">Информационные системы</a>
                        <span>© 2014-2019 Министерство строительства и жилищно-коммунального хозяйства Российской Федерации</span>
                    </div>
                </div>
        </footer>
    </div>
    <script src="/js/main.js"></script>
    <script src="/js/script.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54046841-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136939794-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136939794-1');
    </script>


    <script type="text/javascript">
      (function(d, t, p) {
      var j = d.createElement(t); j.async = true; j.type = "text/javascript";
      j.src = ("https:" == p ? "https:" : "http:") + "//stat.sputnik.ru/cnt.js";;
      var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
      })(document, "script", document.location.protocol);
    </script>

    <!-- widget start -->
		<!-- / widget end -->
</body>
</html>
