<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->

<!--[if gt IE 8]><!-->
<html class="no-js" prefix="dc: http://purl.org/dc/elements/1.1/" lang="ru"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab"/>
    <link rel='alternate' type='application/rss+xml' title='RSS'
          href='http://www.minstroyrf.ru/bitrix/rss.php?ID=2&amp;LIMIT=50'/>
    <link rel="shortcut icon" href="/favicon.ico?1" type="image/x-icon">
    <script src="/js/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index, follow" />
<link href="/bitrix/cache/css/s1/main/page_c45fb38b484886d8f93a6fb17d5430e7/page_c45fb38b484886d8f93a6fb17d5430e7.css?1554185257350" type="text/css"  rel="stylesheet" />
<link href="/bitrix/cache/css/s1/main/template_d06ea41ae631a60ee54d71b4ba589a02/template_d06ea41ae631a60ee54d71b4ba589a02.css?155415416216984" type="text/css"  data-template-style="true"  rel="stylesheet" />
<script type="text/javascript" src="/bitrix/cache/js/s1/main/template_c323001d96fb22868b500ac51577d8ca/template_c323001d96fb22868b500ac51577d8ca.js?15541540366161"></script>
<script type="text/javascript">var _ba = _ba || []; _ba.push(["aid", "6d48ab3b27bfc3bd5bf8db8ee036ccee"]); _ba.push(["host", "www.minstroyrf.ru"]); (function() {var ba = document.createElement("script"); ba.type = "text/javascript"; ba.async = true;ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ba, s);})();</script>


    <title>Противодействие коррупции | Минстрой России</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/main.css">
    <![endif]-->

    <!--{% block social_meta %}-->
    <!--{% endblock %}-->

    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css"/>
    <link href="/js/slick/slick.css" type="text/css" rel="stylesheet"/>
    <link href="/js/slick/slick-theme.css" type="text/css" rel="stylesheet"/>
	<link rel="stylesheet" href="/css/main.css?1561725727">

        <!--[if  IE 8]>
    <link rel="stylesheet" href="/css/ie8.css">
    <![endif]-->

    <!--{% block extra_css %}-->
    <!--{% endblock %}-->
	<meta name="sputnik-verification" content="xduNNDIo3oSTguzM"/>
    <script src="/js/modernizr.min.js"></script>
    <script src="/js/papaparse/papaparse.js"></script>
    <script src="/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="/js/jquery.autocomplete.min.js"></script>
    <script src="/js/masonry.min.js"></script>
    <script src="/js/fancyfields.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.touchSwipe.min.js"></script>
    <script src="/js/jquery.columnizer.js"></script>
    <script src="/js/slick/slick.min.js"></script>

    <script src="/js/mediael/mediaelement-and-player.min.js"></script>
    <link rel="stylesheet" href="/js/mediael/mediaelementplayer.css"/>

    <!--Jquery.form-->
    <script type="text/javascript" src="/js/jquery.form.min.js"></script>

    <!--Maskedinput-->
    <script src="/js/jquery.maskedinput.min.js"></script>

    <!--Actual sizes-->
    <script type="text/javascript" src="/js/jquery.actual.min.js"></script>

    <!--Equal heights-->
    <script type="text/javascript" src="/js/jquery.equalheights.js"></script>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=ru"></script>

    <!--{% block extra_js_head %}
    {% endblock %}-->

    <!-- widget start -->

    <!-- / widget end -->

</head>
<body>
<div class="bg-body-bg"></div>
<div id="panel"></div>
<div class="lowVision">
	<div class="lowVision_content">
    	<div class="low_item fonSizes">
            <h3>Размер шрифта:</h3>
            <span><a href="#" onClick="setLowFonSize(1);return false;" class="font_1" style="font-size:17px;">Маленький</a></span>
            <span><a href="#" onClick="setLowFonSize(3);return false;" class="font_2" style="font-size:20px;">Большой</a></span>
        </div>

        <div class="low_item low_color">
            <h3>Цвет сайта:</h3>
            <span><a href="#" onclick="setColorStyle(1);return false;"  style="font-size: 17px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 2px solid rgb(0, 0, 0); padding: 2px 6px; color: rgb(0, 0, 0); text-decoration: none;">Ч</a></span>
            <span><a onclick="setColorStyle(2);return false;"  href="#" style="font-size: 17px; background: none repeat scroll 0% 0% #000; border: 2px solid rgb(0, 0, 0); padding: 2px 6px; color: #FFF; text-decoration: none;" >Б</a></span>
            <span><a onclick="setColorStyle(3);return false;"  href="#" style="font-size: 17px; background: none repeat scroll 0% 0% #9DD1FF; border: 2px solid #063462; padding: 2px 6px; color: #063462; text-decoration: none;" >C</a></span>
        </div>
        <div class="low_item kerning">
            <h3>Кернинг:</h3>
            <span><a href="#" onclick="setKerning(1);return false;">1</a></span>
            <span><a onclick="setKerning(2);return false;"  href="#">2</a></span>
            <span><a onclick="setKerning(3);return false;"  href="#">3</a></span>
        </div>
        <div class="low_item" style="float:right;">
            <h3 style="float:right;"><a href="#" onClick="removeLowVision();return false;" style="border-bottom:1px dashed #ccc">Обычная версия</a></h3>
        </div>
    </div>
</div><!--{% block extra_js_body %}
{% endblock %}-->

<aside id="sideBlock">
    <a class="hideLink close" href="#">Меню</a>

    <nav class="accordion">
    


	
	
					<div class="navSect">
                <a href="/about/" class="droppable">О министерстве<span></span></a>
				<div class="subMenu">
		
	
	

	
	
		
							<a href="/about/#codex">Положение</a>
			
		
	
	

	
	
		
							<a href="/about/#masters">Руководство</a>
			
		
	
	

	
	
		
							<a href="/about/#departments">Департаменты</a>
			
		
	
	

	
	
		
							<a href="/about/tenders/">Государственные закупки</a>
			
		
	
	

	
	
		
							<a href="/about/internal-audit/">Внутренний аудит</a>
			
		
	
	

	
	
		
							<a href="/about/public-service/">Госслужба</a>
			
		
	
	

	
	
		
							<a href="/about/organizations/">Подведомственные организации</a>
			
		
	
	

	
	
		
							<a href="/about/institutes/">Государственные институты развития</a>
			
		
	
	

	
	
		
							<a href="/about/coordination-and-advisory-bodies/">Совещательные органы</a>
			
		
	
	

	
	
		
							<a href="/open-ministry/reference-group/">Референтные группы</a>
			
		
	
	

	
	
		
							<a href="/about/anti-corruption/">Противодействие коррупции</a>
			
		
	
	

	
	
		
							<a href="/opendata/">Открытые данные</a>
			
		
	
	

			</div></div>	
	
					<div class="navSect">
                <a href="/trades/" class="droppable">Деятельность<span></span></a>
				<div class="subMenu">
		
	
	

	
	
		
							<a href="/trades/gradostroitelnaya-deyatelnost-i-arhitektura/">Градостроительная деятельность и архитектура</a>
			
		
	
	

	
	
		
							<a href="/trades/zhilishno-kommunalnoe-hozyajstvo/"> Жилищно-коммунальное хозяйство</a>
			
		
	
	

	
	
		
							<a href="/trades/gosuslugi/">Госуслуги</a>
			
		
	
	

	
	
		
							<a href="/trades/gorodskaya-sreda/">Городская среда</a>
			
		
	
	

	
	
		
							<a href="/trades/normativno-pravovaya-deyatelnost/">Нормативно-правовая деятельность</a>
			
		
	
	

	
	
		
							<a href="/trades/zhilishnaya-politika/">Жилищная политика</a>
			
		
	
	

	
	
		
							<a href="/trades/realizaciya-gosudarstvennyh-programm/">Реализация государственных программ</a>
			
		
	
	

	
	
		
							<a href="/trades/mezhdunarodnye-otnosheniya/">Международные отношения</a>
			
		
	
	

	
	
		
							<a href="/investors/">Инвестиции в ЖКХ</a>
			
		
	
	

	
	
		
							<a href="/trades/kontrolnaya-deyatelnost/">Контрольная деятельность</a>
			
		
	
	

	
	
		
							<a href="/trades/litsenzirovanie/">Лицензирование</a>
			
		
	
	

	
	
		
							<a href="/trades/initsiativnye-proekty/">Инициативные проекты</a>
			
		
	
	

			</div></div>	
	
					<div class="navSect">
                <a href="/press/" class="droppable">Пресс-центр<span></span></a>
				<div class="subMenu">
		
	
	

	
	
		
							<a href="/press/?d=all">Все новости</a>
			
		
	
	

	
	
		
							<a href="/press/?d=news">Новости</a>
			
		
	
	

	
	
		
							<a href="/press/?d=interviews">Интервью</a>
			
		
	
	

	
	
		
							<a href="/press/?d=smi">СМИ</a>
			
		
	
	

	
	
		
							<a href="/press/?d=videos">Видео</a>
			
		
	
	

	
	
		
							<a href="/press/?d=anonsy">Анонсы</a>
			
		
	
	

	
	
		
							<a href="/press/?d=fotoreportazh">Фото</a>
			
		
	
	

	
	
		
							<a href="/press/?d=infografika">Инфографика</a>
			
		
	
	

	
	
		
							<a href="/press/contacts/">Контакты для СМИ</a>
			
		
	
	

	
	
		
							<a href="/press/?d=presentations">Доклады и выступления</a>
			
		
	
	

			</div></div>	
	
		
							<div class="navSect"><a href="/docs/" class="">Документы</a></div>
			
		
	
	

	
	
		
							<div class="navSect"><a href="/dwellers/" class="">Гражданам</a></div>
			
		
	
	

	
	
		
							<div class="navSect"><a href="/specialists/" class="">Специалистам</a></div>
			
		
	
	

	
	
					<div class="navSect">
                <a href="/openworld/" class="droppable">Контакты<span></span></a>
				<div class="subMenu">
		
	
	

	
	
		
							<a href="/openworld/">Схема проезда</a>
			
		
	
	

	
	
		
							<a href="/cabinet/">Личный кабинет</a>
			
		
	
	

	
	
		
							<a href="/contact/">Обратная связь</a>
			
		
	
	

	
	
		
							<a href="/openworld/obshestvennyj-sovet/news-of-the-meetings/">Общественный совет</a>
			
		
	
	

	</div></div>
 
</nav>
    <div class="socBox">
        <a href="https://instagram.com/minstroyrf/" target="_blank" class="social-icon in"></a>
        <a href="http://www.youtube.com/channel/UC68MTA8Cmj72bMmvkGD5vAQ" target="_blank" class="social-icon yt"></a>
        <a href="https://www.facebook.com/minstroyrf" target="_blank" class="social-icon fb"></a>
        <a href="https://twitter.com/minstroyrf" target="_blank" class="social-icon tw"></a>
    </div>

    <nav class="gov-links">

        


	<a href="http://www.kremlin.ru/" target="_blank">Президент РФ</a>


	<a href="http://government.ru/" target="_blank">Правительство РФ</a>


	<a href="http://www.council.gov.ru" target="_blank">Совет Федерации РФ</a>


	<a href="http://www.duma.gov.ru/" target="_blank">Государственная дума РФ</a>



    </nav>
    <div class="copy">
        <a href="#">Условия использования сайта</a>
        <a href="#">Правовая информация</a>
        <div>&copy; 2014 Минстрой России</div>
    </div>
</aside>
<div id="wrapper">
    <header class="page-header">
        <form action="/search/" method="get" class="site-search">
            <div class="container">
                <a class="site-search-hide js-site-search-hide" href="#">&times;</a>
                <fieldset class="site-search-fields">
                    <label class="site-search-label" for="site-search">
                        Поиск
                        <input class="site-search-input" id="site-search" type="search" name="q"/>

                    </label>
                    <input class="site-search-submit" type="submit" value=""/>
                </fieldset>
                <ol class="site-search-links">
                    <li class="site-search-links-item">
                        <a class="site-search-link" href="/search/">Расширенный поиск</a>
                    </li>
                    <li class="site-search-links-item">
                        <a class="site-search-link" href="/docs/">Поиск документов</a>
                    </li>
                </ol>
            </div>
        </form>
        <div class="container">
            <!--<div class="update-info">Обновление страницы: <time pubdate datetime="{{ last_modified.isoformat }}">{{ last_modified }}</time></div>-->
            <a href="/" class="logo"></a>
            <a href="/" class="backLink logo480"></a>

            <nav class="top-menu">
                
<ul>


	
	
					<li><a href="/about/" class="droppable  active">О министерстве<span></span></a>
				<ul class="subMenu">
		
	
	

	
	
		
							<li><a href="/about/#codex">Положение</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/#masters">Руководство</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/#departments">Департаменты</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/tenders/">Государственные закупки</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/internal-audit/">Внутренний аудит</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/public-service/">Госслужба</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/organizations/">Подведомственные организации</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/institutes/">Государственные институты развития</a></li>
			
		
	
	

	
	
		
							<li><a href="/about/coordination-and-advisory-bodies/">Совещательные органы</a></li>
			
		
	
	

	
	
		
							<li><a href="/open-ministry/reference-group/">Референтные группы</a></li>
			
		
	
	

	
	
		
							<li class="item-selected"><a href="/about/anti-corruption/">Противодействие коррупции</a></li>
			
		
	
	

	
	
		
							<li><a href="/opendata/">Открытые данные</a></li>
			
		
	
	

			</ul></li>	
	
					<li><a href="/trades/" class="droppable  ">Деятельность<span></span></a>
				<ul class="subMenu">
		
	
	

	
	
		
							<li><a href="/trades/gradostroitelnaya-deyatelnost-i-arhitektura/">Градостроительная деятельность и архитектура</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/zhilishno-kommunalnoe-hozyajstvo/"> Жилищно-коммунальное хозяйство</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/gosuslugi/">Госуслуги</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/gorodskaya-sreda/">Городская среда</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/normativno-pravovaya-deyatelnost/">Нормативно-правовая деятельность</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/zhilishnaya-politika/">Жилищная политика</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/realizaciya-gosudarstvennyh-programm/">Реализация государственных программ</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/mezhdunarodnye-otnosheniya/">Международные отношения</a></li>
			
		
	
	

	
	
		
							<li><a href="/investors/">Инвестиции в ЖКХ</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/kontrolnaya-deyatelnost/">Контрольная деятельность</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/litsenzirovanie/">Лицензирование</a></li>
			
		
	
	

	
	
		
							<li><a href="/trades/initsiativnye-proekty/">Инициативные проекты</a></li>
			
		
	
	

			</ul></li>	
	
					<li><a href="/press/" class="droppable  ">Пресс-центр<span></span></a>
				<ul class="subMenu">
		
	
	

	
	
		
							<li><a href="/press/?d=all">Все новости</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=news">Новости</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=interviews">Интервью</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=smi">СМИ</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=videos">Видео</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=anonsy">Анонсы</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=fotoreportazh">Фото</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=infografika">Инфографика</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/contacts/">Контакты для СМИ</a></li>
			
		
	
	

	
	
		
							<li><a href="/press/?d=presentations">Доклады и выступления</a></li>
			
		
	
	

			</ul></li>	
	
		
							<li><a href="/docs/" class="">Документы</a></li>
			
		
	
	

	
	
		
							<li><a href="/dwellers/" class="">Гражданам</a></li>
			
		
	
	

	
	
		
							<li><a href="/specialists/" class="">Специалистам</a></li>
			
		
	
	

	
	
					<li><a href="/openworld/" class="droppable  ">Контакты<span></span></a>
				<ul class="subMenu">
		
	
	

	
	
		
							<li><a href="/openworld/">Схема проезда</a></li>
			
		
	
	

	
	
		
							<li><a href="/cabinet/">Личный кабинет</a></li>
			
		
	
	

	
	
		
							<li><a href="/contact/">Обратная связь</a></li>
			
		
	
	

	
	
		
							<li><a href="/openworld/obshestvennyj-sovet/news-of-the-meetings/">Общественный совет</a></li>
			
		
	
	

	</ul></li>
</ul>
<div class="menu-clear-left"></div>
            </nav>

            <a class="hideLink" href="#">Меню</a>
            <div class="icoMenu">
                <a href="#" class="top-menu-icon search js-site-search-show"></a>
            </div>
                        <div class="lowVision_menu">
                <a href="javascript:void(0);"><img alt="" src="/include/low/low_icon.png"
                                                   style="vertical-align: middle;"> для слабовидящих</a>
            </div>
            <div class="header-socBox">
                <a href="https://twitter.com/minstroyrf" target="_blank"
                   class="header-social-icon header-social-icon-tw"></a>
                <a href="http://www.youtube.com/channel/UC68MTA8Cmj72bMmvkGD5vAQ" target="_blank"
                   class="header-social-icon header-social-icon-yt"></a>
                <a href="https://instagram.com/minstroyrf/" target="_blank"
                   class="header-social-icon header-social-icon-in"></a>
                <a href="https://www.facebook.com/minstroyrf" target="_blank"
                   class="header-social-icon header-social-icon-fb"></a>
                <a href="http://ok.ru/group/53598208065632" target="_blank"
                   class="header-social-icon header-social-icon-ok"></a>
                <a href="http://vk.com/minstroyrfofficial" target="_blank"
                   class="header-social-icon header-social-icon-vk"></a>
            </div>

                        <div class="clearfix"></div>
        </div>
    </header>

    <!--{% block parallax %}
    {% endblock %}-->

        
    <main class="page-content " id="top">

                <div class="container">
            <div class="breadcrumbs">
                <a href="/about/" title="О министерстве">О министерстве</a>&nbsp;&gt;&nbsp;Противодействие коррупции            </div>
            

<div class="container">
<ul>
		<li style="margin:5px 0"><a href="/about/anti-corruption/normativnye-pravovye-i-inye-akty-v-sfere-protivodeystviya-korruptsii/">Нормативные правовые и иные акты в сфере противодействия коррупции</a></li>
		<li style="margin:5px 0"><a href="/about/anti-corruption/antikorruptsionnaya-ekspertiza/">Антикоррупционная экспертиза</a></li>
		<li style="margin:5px 0"><a href="/about/anti-corruption/metodicheskie-materialy/">Методические материалы</a></li>
		<li style="margin:5px 0"><a href="/about/anti-corruption/formy-dokumentov-svyazannykh-s-protivodeystviem-korruptsii-dlya-zapolneniya/">Формы документов, связанных с противодействием коррупции, для заполнения</a></li>
		<li style="margin:5px 0"><a href="/about/anti-corruption/svedeniya-o-dokhodakh-raskhodakh-ob-imushchestve-i-obyazatelstvakh-imushchestvennogo-kharaktera/">Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера</a></li>
		<li style="margin:5px 0"><a href="/about/anti-corruption/komissiya-po-soblyudeniyu-trebovaniy-k-sluzhebnomu-povedeniyu-i-uregulirovaniyu-konflikta-interesov/">Комиссия по соблюдению требований к служебному поведению и урегулированию конфликта интересов</a></li>
		<li style="margin:5px 0"><a href="/about/anti-corruption/obratnaya-svyaz-dlya-soobshcheniya-o-faktakh-korruptsii/">Обратная связь для сообщения о фактах коррупции</a></li>
		<li style="margin:5px 0"><a href="/about/anti-corruption/doklady-otchety-obzory-statisticheskaya-informatsiya/">Доклады, отчеты, обзоры, статистическая информация</a></li>
		<li style="margin:5px 0"><a href="/about/anti-corruption/konsultatsii-po-voprosam-protivodeystviya-korruptsii/">Консультации по вопросам противодействия коррупции</a></li>
		<li style="margin:5px 0"><a href="/about/anti-corruption/rezultaty-ezhekvartalnogo-rassmotreniya-voprosov-pravoprimenitelnoy-praktiki/">Результаты рассмотрения вопросов правоприменительной практики</a></li>
		<li style="margin:5px 0"><a href="/about/anti-corruption/informatsiya-dlya-organizatsiy-sozdannykh-dlya-vypolneniya-zadach-postavlennykh-pered-minstroem-ross/">Информация для организаций, созданных для выполнения задач, поставленных перед Минстроем России</a></li>
		<li style="margin:5px 0"><a href="/about/anti-corruption/obrashchenie-k-obshchestvennym-obedineniyam-ustavnoy-zadachey-kotorykh-yavlyaetsya-uchastie-v-protiv/">Обращение  к общественным объединениям, уставной задачей которых является участие в противодействии коррупции, и другим институтам гражданского общества</a></li>
	</ul>
<span class="timestamp">Дата изменения: 12.04.2019 14:36:01</span></div>



    </div>

</main>

        <footer class="page-footer">
            <div class="container">

                <nav class="gov-links">
                    
<ul>

	<li><a href="http://www.kremlin.ru/" target="_blank">Президент РФ</a></li>


	<li><a href="http://government.ru/" target="_blank">Правительство РФ</a></li>


	<li><a href="http://www.council.gov.ru" target="_blank">Совет Федерации РФ</a></li>


	<li><a href="http://www.duma.gov.ru/" target="_blank">Государственная дума РФ</a></li>

</ul>
 
                </nav>
                
                  <div class="forum-link">
                    <a href="https://www.forumspb.com/" class="footer-forum__link">
                      <img class="footer-forum__img" src="/images/logo_spief2019_ru.png" alt="ПМЭФ">
                    </a>
                    <a href="https://forumvostok.ru/" class="footer-forum__link">
                      <img class="footer-forum__img" src="/images/logo_vef2019_ru.png" alt="ВЭФ">
                    </a>
                  </div>          
                
                <nav class="bottom-menu i-second">
                    
<ul>

		<li><a href="http://open.gov.ru/">открытое правительство</a></li>

		<li><a href="http://www.gosuslugi.ru/">портал государственных услуг</a></li>

		<li><a href="http://www.oprf.ru/">общественная палата</a></li>


</ul>
 
                </nav>
                
                <div class="i-metrika-informer">
               <!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=26313837&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/26313837/3_0_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:26313837,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter26313837 = new Ya.Metrika({id:26313837,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/26313837" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

                    <a target="_blank" class="rss_icon_footer" href="/bitrix/rss.php?ID=2&amp;LIMIT=50"><img alt="" src="/img/rss_icon.png" /></a>
     </div>       
                
                <nav class="bottom-menu">
                    
<ul>

		<li><a href="/about/">о министерстве</a></li>

		<li><a href="/trades/">деятельность</a></li>

		<li><a href="/press/">пресс-центр</a></li>

		<li><a href="/docs/">документы</a></li>

		<li><a href="/dwellers/">гражданам</a></li>

		<li><a href="/specialists/">специалистам</a></li>

		<li><a href="/openworld/">контакты</a></li>

		<li><a href="/sitemap.php">карта сайта</a></li>


</ul>
 
                </nav>
                <div class="socBox">
                   <a href="https://twitter.com/minstroyrf" target="_blank" class="footer-social-icon footer-social-icon-tw"></a>
                   <a href="http://www.youtube.com/channel/UC68MTA8Cmj72bMmvkGD5vAQ" target="_blank" class="footer-social-icon footer-social-icon-yt"></a>
                   <a href="https://instagram.com/minstroyrf/" target="_blank" class="footer-social-icon footer-social-icon-in"></a>
                   <a href="https://www.facebook.com/minstroyrf" target="_blank" class="footer-social-icon footer-social-icon-fb"></a>
                    <a href="http://ok.ru/group/53598208065632" target="_blank" class="footer-social-icon footer-social-icon-ok"></a>
                    <a href="http://vk.com/minstroyrfofficial" target="_blank" class="footer-social-icon footer-social-icon-vk"></a>
                </div>

               <div class="clearfix"></div>
            </div>
                <div class="copy">
                    <div class="container">
                        <a href="/terms-of-use/">О сайте</a>
                        <!--<a href="/en/">Английская версия сайта</a>-->
                        <a href="/information-system/">Информационные системы</a>
                        <span>© 2014-2019 Министерство строительства и жилищно-коммунального хозяйства Российской Федерации</span>
                    </div>
                </div>
        </footer>
    </div>
    <script src="/js/main.js"></script>
    <script src="/js/script.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54046841-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136939794-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136939794-1');
    </script>


    <script type="text/javascript">
      (function(d, t, p) {
      var j = d.createElement(t); j.async = true; j.type = "text/javascript";
      j.src = ("https:" == p ? "https:" : "http:") + "//stat.sputnik.ru/cnt.js";;
      var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
      })(document, "script", document.location.protocol);
    </script>

    <!-- widget start -->
		<!-- / widget end -->
</body>
</html>
