{% extends 'base.html' %}

{% block title %}{{ section.person_name }} {% endblock title %}

{% block serp_description %}
<meta name="description" CONTENT="{{ section.person_name }}, {{section.position}}, {{ section.source_document.office.name }}, доход за {{ section.income_year }} год: {{section.declarant_income_size}} руб., остальные декларации... ">
{% endblock serp_description %}

{% block content %}

<h1>
    {% if section.person_id %}
        {{section.person.person_name}}
    {% else %}
        {{section.person_name}}
    {% endif %}
</h1>

<h2>
     {{section.position_and_office_str}} <br/>
     Cведения о доходах за {{ section.income_year }} год <br/>
</h2>

{% include "section/section_table.html" %}

<br/><br/>

Рубрика: {{section.rubric_str}}
<br/>

Источник декларации: <a href="/file/{{ section.source_document.id }}"> файл id={{ section.source_document.id }} </a>
<br/><br/>


{% if section.person_id %}
<a href="/section/?person_id={{ section.person_id }}" > Остальные декларации этого человека</a>
(person_id={{ section.person_id }}, уверенность
                {% if section.dedupe_score > 0 %}
                    {{ section.dedupe_score | floatformat:2}}
                {% else %}
                    1.0
                {% endif %}
) </a>
<br/> <br/>

{% if section.person.declarator_person_id %}
    <a href="http://declarator.org/person/{{section.person.declarator_person_id}}"> Ссылка на Декларатор </a>
{% endif %}


{% endif %}

{% endblock content %}
