{% extends 'base.html' %}

{% block title %}{{ section.person_name }} {% endblock title %}

{% block serp_description %}
<meta name="description" CONTENT="{{ section.person_name }}, {{section.position}}, {{ section.office.name }}, доход за {{ section.income_year }} год: {{section.declarant_income_size_in_html|safe}} , остальные декларации... ">
{% endblock serp_description %}

{% block content %}

<h1>
    {% if section.person_id %}
        {{section.person.person_name}}
    {% else %}
        {{section.person_name}}
    {% endif %}
</h1>

<h2> {{section.office_name}} </h2>
<p> <i> {{section.position_and_department}}</i></p>
<h2> Cведения о доходах за {{ section.income_year }} год <br/> </h2>

{% if section.corrected_section_id %}
  <div class="correction_link">Нижепредставленные данные были изменены в <a href="/section/{{section.corrected_section_id}}">более поздней уточняющей декларации</a>.</div> <br/><br/>
{% endif %}


{% include "section/section_table.html" %}

<a href=/office/{{section.office.id}}>Информация об этом ведомстве (остальные декларации)</a><br/>

<br/><br/>

Рубрика: {{section.rubric_str}}
<br/><br/>

Источник декларации: <a href="/file/{{ section.source_document.id }}"> файл id={{ section.source_document.id }} </a>
<br/><br/>


{% if section.person_id %}
    <a href="/section/?person_id={{ section.person_id }}" > Остальные декларации этого человека</a>
    <br/> <br/>

    {% if section.person.declarator_person_id %}
        <a href="http://declarator.org/person/{{section.person.declarator_person_id}}"> Ссылка на Декларатор </a>
    {% endif %}
{% endif %}

{% endblock content %}
