{% extends 'base.html' %}

{% block title %}Найденные декларации {% endblock title %}

{% block content %}
<style>
    div.search_input {
        padding-top: 5x;
        padding-bottom: 5px;
    }
</style>
<form action="{% url 'section_search' %}" method="get">
    <div class="search_input">
        <abbr title="Начинайте с фамилии, например, Иванов Иван Иванович или Иванов И.И.">
            {{form.person_name.label_tag}}
        </abbr>
           {{form.person_name}}
        &#32;&#32;&#32;<br class="mobile" />

        <span>{{form.rubric_id.label_tag}}{{form.rubric_id}}</span>
        &nbsp;&nbsp;&nbsp;
        <input type="submit" value="Поиск">
    </div>
    <div class="search_input">
        {{form.income_year.label_tag}}
        {{form.income_year}}
        &#32;&#32;&#32;<br class="mobile" />

        {{form.region_id.label_tag}}
        {{form.region_id}}

        &#32;&#32;&#32;<br class="mobile" />
        {{form.car_brands.label_tag}}
        {{form.car_brands}}

        &#32;&#32;&#32;<br class="mobile" />
        <abbr title="Осторожно! Eсть ФИО, для которых пол мы не можем определить.">
            {{form.gender.label_tag}}
            {{form.gender}}
        </abbr>
    </div>
    <div class="search_input">
        {{form.position_and_department.label_tag}}
        {{form.position_and_department}}
        &#32;&#32;&#32;<br class="mobile" />
        <abbr title="Часть названия или числовой идентификатор">
            {{form.office_request.label_tag}}
            {{form.office_request}}
        </abbr>
        &#32;&#32;&#32;<br class="mobile" />
        {{form.match_phrase.label_tag}}
        {{form.match_phrase}}

    </div>
</form>


{% if hits_count is not None %}
    <br/>
    Число найденных деклараций: {{ hits_count }}
    {% if fuzzy_search %}
        <small>(точного вхождения не найдено, ищем без фильтра по ФИО) </small>
    {% endif %}
    {% if skip_rubric_filtering %}
        <small>(ничего не найдено в указанной рубрике, убираем фильтр по рубрике) </small>
    {% endif %}



    <br/>

    <table cellpadding="5">
        <tr>
            <th>ID</th>
            <th><a href="?{{sort_by_person_name}}">ФИО</a></th>
            <th><a href="?{{sort_by_income_year}}">Год</a></th>
            <th><a href="?{{sort_by_person_id}}">Декларант</a></th>
            <th><a href="?{{sort_by_income_size}}">Доход</a></th>
            <th>Рубрика</th>
        </tr>
        {% for section in object_list %}
        <tr>
            <td>{{section.id }}</td>
            <td><a href="/section/{{ section.id }}">{{ section.person_name }} </a></td>
            <td>{{ section.income_year }}</td>
            <td>
                {% if section.person_id %}
                <a href="/person/{{ section.person_id }}"> {{section.person_id }} </a>
                {% endif %}
            </td>
            <td>{{ section.income_size }}</td>
            <td><small>{{ section.rubric_str }}</small></td>
        </tr>
        {% endfor %}
    </table>


    {% include "search/paginator.html" %}

{% endif %}

{% endblock content %}