{% extends 'base.html' %}

{% block title %}Найденные декларации {% endblock title %}

{% block content %}
<style>
    div.search_input {
        padding-top: 5x;
        padding-bottom: 5px;
    }
</style>
<form action="{% url 'section_search' %}" method="get">
    <div class="search_input">
        {{form.search_request.label_tag}}
        {{form.search_request}}
        <input type="submit" value="Поиск">
    </div>
    <div class="search_input">
        {{form.office_rubric.label_tag}}
        {{form.office_rubric}}
        &nbsp;
        {{form.section_year.label_tag}}
        {{form.section_year}}
        &nbsp;
        {{form.office_request.label_tag}}
        {{form.office_request}}
    </div>
    <div class="search_input">
        {{form.position_and_department.label_tag}}
        {{form.position_and_department}}
    </div>
</form>


{% if hits_count is not None %}
    <br/>
    Число найденных деклараций: {{ hits_count }}
    <br/>

    <table cellpadding="5">
        <tr>
            <th>ID</th>
            <th><a href="?{{without_order}}">ФИО</a></th>
            <th><a href="?{{sort_by_income_year}}">Год</a></th>
            <th><a href="?{{sort_by_person_id}}">Декларант</a></th>
            <th><a href="?{{sort_by_income_size}}">Доход</a></th>
        </tr>
        {% for section in object_list %}
        <tr>
            <td>{{section.id }}</td>
            <td><a href="/section/{{ section.id }}">{{ section.person_name }} </a></td>
            <td>{{ section.income_year }}</td>
            <td>
                {% if section.person_id %}
                <a href="/person/{{ section.person_id }}"> {{section.person_id }} </a>
                {% endif %}
            </td>
            <td>{{ section.income_size }}</td>
        </tr>
        {% endfor %}
    </table>


    {% include "search/paginator.html" %}

{% endif %}

{% endblock content %}