[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
Requires=source_declaration_doc
After=network-online.target
Wants=network-online.target

[Service]
User=sokirko
WorkingDirectory=/var/www/smart_parser/tools/disclosures_site
Environment=PYTHONPATH=/var/www/smart_parser/tools:/var/www/smart_parser/tools/disclosures_site
Environment=SOURCE_DOC_SERVER_ADDRESS=migalka:8090
ExecStart=/var/www/smart_parser/tools/venv/bin/gunicorn \
          --access-logfile - \
          --env DJANGO_SETTINGS_MODULE=disclosures.settings.prod \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          disclosures.wsgi:application
