@font-face {
    font-family: 'Futura Medium';
    src: local('/static/fonts/FuturaMediumC.eot');
    src: url('/static/fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/FuturaMediumC.woff') format('woff'),
         url('/static/fonts/FuturaMediumC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Light';
    src: local('/static/fonts/FuturaLightC.eot');
    src: url('/static/fonts/FuturaLightC.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/FuturaLightC.woff') format('woff'),
         url('/static/fonts/FuturaLightC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Futura Light", serif;
}

br.responsive {
  display: inline; // Show BR tag for narrow screens
}

@media screen and (max-device-width: 480px) /* Mobile */ {
    body {
        background-color: #F3F3F3;
    }
    html {
        font-size: 36px
    }
}
@media screen and (min-device-width: 480px)  /* Desktop */ {
    body {
        background-color: #F3F3F3;
        text-color: black;
        link-color: black;
    }
    br.responsive {
         display: none; // Hide BR tag for wider screens
    }
}

div.header1 {
    display: inline;
    font-size: 200%;
    font-weight: bold;
    text-align: left;
}

div.header2 {
    display: inline;
    margin: 10px;
    font-size: 100%;
}

span.selected_menu {
    color: white;
    background-color: black;
}

span.not_selected_menu {
    color: black;
    background-color: #F3F3F3;
}

span.menu_space {
     width: 10px;
     display: inline-block;
}

input {
  font-size: 100%;
}

select {
  font-size: 100%;
}

.declaration_table td, .declaration_table th {
    border: solid;
    padding-left: 4px;
    padding-right: 4px;
}
table.declaration_table  {
    border: solid;
    border-collapse: collapse;
}

.solid_table td, .solid_table th {
    border: solid;
    padding-left: 4px;
    padding-right: 4px;
}
table.solid_table  {
    border: solid;
    border-collapse: collapse;
}

div.clickable {
  cursor: pointer;
}

