{% extends 'base.html' %}


{% block title %}
{{ person.person_name }}, {{person.last_position_and_office_str}}, {{person.declaraion_count_str }} {{ person.years_str}}
{% endblock title %}

{% block serp_description %}
<meta name="description" CONTENT="{{ person.person_name }}, {{person.last_position_and_office_str}}, {{person.declaraion_count_str }} {{ person.years_str}}">
{% endblock serp_description %}

{% block content %}

<h1>
     {{person.person_name}} {{person.ratings |safe}}
</h1>

<h3>
    1. Последняя известная декларация ({{person.last_section.income_year}} год)
</h3>

<p><i>
     {{ person.last_position_and_office_str }}
</i></p>


{% with section=person.last_section %}
    {% include "section/section_table.html" %}
{% endwith %}

<br/>


<h3>
     2. Исторические сведения о доходах чиновника за {{person.years_str}}
</h3>

<table class="declaration_list_table" cellpadding="10">
    <tr>
       <th>Год</th>
       <th>Недвижимость</th>
       <th>Транспорт</th>
       <th>Доход</th>
        {% if person.has_spouse %}
          <th>Недвижимость супруги/а</th>
          <th>Доход супруги/а</th>
        {% endif %}
    </tr>

    {% for s in person.sections_ordered_by_year %}
        <tr>
            <td> <a href="/section/{{ s.id }}">{{s.income_year}}&nbsp;год</a>  </td>
            <td align="right"> {{s.declarant_realty_square_sum_html}} </td>
            <td align="right"> {{s.vehicle_count}} </td>
            <td align="right"> &nbsp;{{s.declarant_income_size_in_html|safe}}&nbsp; </td>
            {% if person.has_spouse %}
              <td>{{s.spouse_realty_square_sum_html}}</td>
              <td>{{s.spouse_income_size_html|safe}}</td>
            {% endif %}
        </tr>
    {% endfor %}

</table>
<br/>

{% with comp=person.income_growth_yearly %}
    {% if comp %}
    <h3>
         3. Сравнение роста номинальных доходов чиновника со средним ростом зарплат по всей стране
        <sup><a href="/compare_income_descr.html">1</a></sup>
    </h3>
      <table class="solid_table">
          <tr>
              <th>Мин. год</th>
              <th>Макс. год</th>
              <th>Рост доходов этого чиновника</th>
              <th>Рост доходов населения России</th>
          </tr>
          <tr>
              <td align="center">{{comp.min_year}}</td>
              <td align="center">{{comp.max_year}}</td>
              <td align="center">{{comp.declarant_income}}%</td>
              <td align="center">{{comp.population_income}}%</td>
          </tr>
      </table>

    {% endif %}
{% endwith %}

<br/><br/>

<a href=/office/{{last_section.office.id}}>Информация об этом ведомстве (остальные декларации)</a><br/>

<br/><br/>

{% if person.declarator_person_id %}
    <a href="http://declarator.org/person/{{person.declarator_person_id}}"> Ссылка на Декларатор </a>
{% endif %}

{% endblock content %}

