{% extends 'base.html' %}

{% block title %}Декларанты {% endblock title %}

{% block content %}

<form action="{% url 'person_search' %}" method="get">
    {{form.person_name.label_tag}} {{ form.person_name }}
    <input type="submit" value="Поиск">
    <br/>
</form>

{% if hits_count is not None %}

    <br/>
      Число найденных декларантов: {{ hits_count }}
    <br/>

    <table>
        <tr>
            <th>ID</th>
            <th><a href="?{{sort_by_person_name}}">ФИО</a></th>
            <th><a href="?{{sort_by_section_count}}">Число секций</a></th>
        </tr>

      {% for person in object_list %}
        <tr>
          <td> {{ person.id }}: </td>
          <td>
              <a href="/person/{{ person.id }}"> {{ person.person_name }} </a>
          </td>
          <td> &nbsp;&nbsp;{{ person.section_count }} </td>
        </tr>
      {% endfor %}
    </table>

    {% include "search/paginator.html" %}
{% endif %}

{% endblock content %}


