<table>
    <tr>
        <td>Input json files: </td>
        <td>{{spjsonfile_count}} </td>
    </tr>
    <tr>
        <td>Input json files (only_dlrobot): </td>
        <td>{{spjsonfile_only_dlrobot_count}} </td>
    </tr>
    <tr>
        <td>Input json files (only_human): </td>
        <td>{{spjsonfile_only_human_count}} </td>
    </tr>

    <tr>
        <td>Sections: </td>
        <td>{{sections_count}} </td>
    </tr>
    <tr>
        <td>Sections (only_dlrobot): </td>
        <td>{{sections_count_only_dlrobot}} </td>
    </tr>
    <tr>
        <td>Sections (dedupe_score > 0): </td>
        <td>{{sections_dedupe_score_greater_0}} </td>
    </tr>
    <tr>
        <td>People: </td>
        <td>{{person_count}} </td>
    </tr>
</table>