<table>
    <tr><td><b>Documents</b></td></tr>
    <tr>
        <td>Source document count (only_dlrobot): </td>
        <td>{{source_document_only_dlrobot_count}} </td>
    </tr>
    <tr>
        <td>Source document count (only_human): </td>
        <td>{{source_document_only_human_count}} </td>
    </tr>
    <tr>
        <td>Source document count (both found): </td>
        <td>{{source_document_both_found_count}} </td>
    </tr>
    <tr>
        <td>All source document count: </td>
        <td>{{source_document_count}} </td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td><b>Sections</b></td></tr>
    <tr>
        <td>Sections (only_dlrobot): </td>
        <td>{{sections_count_only_dlrobot}} </td>
    </tr>
    <tr>
        <td>Sections (both found): </td>
        <td>{{sections_count_both_found}} </td>
    </tr>
    <tr>
        <td>All sections: </td>
        <td>{{sections_count}} </td>
    </tr>

    <tr>
        <td>Sections (dedupe_score > 0): </td>
        <td>{{sections_dedupe_score_greater_0}} </td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td><b>People</b></td></tr>
    <tr>
        <td>People: </td>
        <td>{{person_count}} </td>
    </tr>
</table>