    [Unit]
    Description=workers for dlrobots

    [Service]
    User=sokirko
    Environment=PYTHONPATH=/home/sokirko/smart_parser/tools
    ExecStart=/usr/bin/python3 /home/sokirko/smart_parser/tools/dlrobot_server/dlrobot_worker.py start --server-address disclosures.ru:8089 --worker-count 2
    ExecStop=/usr/bin/python3 /home/sokirko/smart_parser/tools/dlrobot_server/dlrobot_worker.py stop
    Type=simple


    [Install]
    WantedBy=multi-user.target
