{% extends 'base.html' %}
{% block title %}Предварительная база деклараций{% endblock title %}


{% block content %}

<h2>Введение</h2>

<p> Каждый год российские чиновники обязаны публиковать декларации о доходах. </p>
<p>Проект <a href="https://declarator.org">Декларатор</a>
много лет собирает эти декларации, проверяет и публикует их. Декларатор
    создан и поддерживает <a href="https://transparency.org.ru/">Трансперенси Интернешнл - Россия</a>.
Однако скорость процедуры проверки деклараций не позволяет опубликовать всю имеющуюся информацию. Чтобы преодолеть
    эту неполноту, был создан новый сайт - Дискложес.ру, на котором вы сейчас находитесь. Сайт создан как экспериментальная
    площадка по автоматизированному сбору, обработке и публикации переработанных антикоррупционных деклараций.
</p>
<p>
    В отличии от Декларатора, здесь декларации обрабатываются автоматизированно. В опубликованных данных содержится
    довольно много ошибок и неполноты, однако для каждой полученной
    декларации мы предоставляем ссылку на исходный документ.  Пользователь сам может проверить, правильно
    ли был произведен анализ документа.
</p>

<p>
    Исходный код анализаторов  выложен в <a href="https://github.com/TI-Russia/smart_parser"> открытый доступ</a> , и нам
    очень нужна помощь в развитии проекта, пишите на email sokirko@yandex.ru (Алексей Сокирко).
</p>
<p>
    Сведения, представленные на сайте, собраны из открытых источников и носят справочный характер. Любой человек может
    создать зеркало этого сайта, скачав все данные, включая базу данных и исходные файлы документов. За инструкциями
    по созданию зеркала обращайтесь на email sokirko@yandex.ru.
</p>

<p>
    Процесс обработки начинается со скачивания <b>исходных документов</b> с сайтов ведомства (порядка 7000 веб-сайтов). На одном сайте
    могут быть собраны документы от разных организаций, а документ надо  приписать
    какой-то одной.  Термины <b>ведомство</b>,  <b>офис</b>, <b>организация</b> мы не различаем между собой.
    Каждый документ содержит сколько-то деклараций о доходах  за конкретный год.  Отдельную такую запись для отдельного человека из конкретного
    документа мы называем <b>декларацией</b> или <b>секцией</b> (у нас равнозначные термины).   Человека, к которому относится эта запись,
    мы называем  <b>декларантом</b> или <b>персоной</b>. Получается такая схема: </p>
<p>
    <image src="/static/er_diagram.svg"> </image>
</p>

<p> Обычно один декларант подает одну декларацию за один год, которая приписана одному ведомству, но бывают
    <a href="/second_office.html">сложные случаи</a>.
</p>
<h2> Скачивание документов (dlrobot) </h2>

<p>
По <a href="http://15kids.ru/documents/articles/Приказ%20Министерства%20труда%20и%20социальной%20защиты%20РФ%20от%2007.10.2013%20№530н.doc">
    официальным требованиям</a>  на главной странице официальных сайтов госорганов должна быть ссылка на раздел "Противодействие коррупции".
  Внутри раздела должны быть где-то ссылки на
  документы деклараций за каждый год. Структура этого раздела уже не оговаривается, что представляет сложность для автоматизированной обработки.
  Ссылки на декларации могут быть в подразделах
  "Противодействия коррупции" или еще глубже, одновременно здесь же присутствуют ссылки на другие раздела сайта, которые не связаны с противодействием коррупции.
</p>
  Искомые документы могут быть в форматах docx, doc, pdf, xls, xlsx, html, rtf и др.  Пачки документов могут быть заархивированы zip или rar.
  Чтобы обнаружить документы нам приходится использовать два написанных классификатора: классификатор гиперссылок (чтобы определить, надо ли идти по ней,
  связана ли она с противодействием  коррупции) и классификатор документов (чтобы понять, скачали ли мы документ декларации или, например, методические рекомендации по
  заполнению деклараций).
  Оба классификатора работают с некоторой полнотой и точностью, поэтому ошибки возможны уже на этом этапе. Более того, программа скачивания ограничивает обработку одного сайта по времени,
  что является дополнительным источником неполноты.
</p>
<p>
  Все большее количество сайтов используют javascript, чтобы скачать декларации приходится запускать технологию Selenium (эмуляция браузера), что сильно замедлеет процесс.
  Один обход  всех государственных сайтов  длится около месяца. Код написан на языке Python.
</p>

<h2> Чтение документов (smart_parser)</h2>

<p>
  Программа чтения документов деклараций берет на вход один документ, например, docx или xls и преобразует в json формат.  Программа написана на C#.
    Полная спецификация json-формата находится <a href=/smart_parser_spec.html> здесь </a>.
    Обычно внутри находится таблица типа такой:
<p> <image src="/static/example_table.png" style="width:100%"/> </p>
<p>  Из этой таблицы мы должны получить информацию о доходе за прошлый год, об объектах недвижимости, автомобилях и пр.  Однако форматы могут быть разными, иногда они очень
    редкие и странные . Некоторые справки заполнены от руки, а потом сконвертированы  в pdf. На данный момент программа smart_parser может взять только 80% всех файлов, но
    даже в них некоторые колонки не парсятся аккуратно, если парсятся вообще.
    Некоторые документы дешевле распознавать вручную.
</p>


<h2> Дедупликация </h2>
<p>
    В идеальном случае все декларации должны быть приписаны какому-то декларанту, однако во многих случаях алгоритм дедупликации
    не может понять, к какому
    декларанту отнести эту декларацию. Представьте себе, что у вас есть 10 деклараций Иванова Ивана Ивановича из МВД, вы не знаете,
    один ли это человек или много. На данный момент порядка 40% всех деклараций не привязывается к декларанту, поскольку нет уверенности в том, как это делать.
    Иногда дедупликация  делает ошибки. Например,  декларант  (даже с редким именем) перешел на другую работу и одновременно развелся и у него выросли дети,
    из-за развода у него поменялась недвижимость, которой он владел. Например, <a href=/section/?person_name=Случ > так </a> .  Просто из внешних источников мы можем случайно знать
    эти факты, но алгоритм не знает и считает, что перед нами два разных человека.  Алгоритм построен на машинном обучении Random Forest.

</p>

<p>  При перестройке базы нам приходится  поддерживать постоянство веб-ссылок, подробнее об этом алгоритме
    написано <a href="/permalinks.html">здесь</a>.
</p>


<h2>  Правовые основания (объяснение законности этого проекта для декларантов) </h2>

<p>
Уважаемые господа декларанты! Наш проект собирает информацию с сайтов государственных и муниципальных органов, а также организаций,
контролируемых публичной властью. Среди таких данных: сведения о доходах, расходах, имуществе и обязательствах
имущественного характера в части, публикуемой в сети Интернет (ч. 6 ст. 8 ФЗ «О противодействии коррупции»);
    сведения из ЕГРЮЛ (ч. 1 ст. 6 ФЗ «О государственной регистрации юридических лиц и индивидуальных предпринимателей»);
    иные сведения из государственных информационных систем и других источников, раскрываемых на основании федеральных
    законов.
</p>

<p>
    В соответствии с п. 11 ч. 1 ст. 6 ФЗ «О персональных данных», согласие субъекта персональных данных на обработку
    этих данных <u>не требуется</u>, если обрабатываемые персональные данные стали доступны в результате их раскрытия
    в соответствии с <u>федеральными законами</u>. Следовательно, наш проект не обязан получать согласие на обработку
    персональных данных, т.к. использует только открытые и законные источники.
</p>

<p>
    Проект Декларатор существует уже много лет, несколько раз законность этого проекта была подтверждена в суде, поэтому,
    пожалуйста, поберегите свое время и нервы. Подавляющее большинство представленных деклараций не носят никаких коррупционных
    признаков. Именно такие "чистые" декларации используются в качестве фона, чтобы найти "грязные" и подозрительные доходы.

</p>

<h2>  Работа сайта </h2>
<p>
    Мы планируем, что данный экспериментальный сайт проработает до сентября 2022 года. Если на него будет приходить
    достаточно много народа, мы подольем его функциональность и данные в основной Декларатор.
    Если что-то не работает, пишите, пожалуйста, на email <br/>
    <table border="1">
    <tr>
        <td>
        <h2>sokirko@yandex.ru </h2>
        </td>
    </tr>
    </table>

</p>

{% endblock content %}
