{% extends 'base.html' %}

{% block title %}
  Сравнение доходов декларантов и среднего дохода населения России
{% endblock title %}

{% block content %}

<style>
    .formula { text-indent:40px }
</style>

<p>Мы хорошо понимаем, что доход, объявленный в декларации, не равен зарплате. В доход, кроме зарплаты,
    включаются денежные поступления от продажи имущества или проценты по ценным бумагам, поэтому доход за период
    всегда выше зарплаты за тот же период.  </p>

<p> С другой стороны, объявленный доход в декларации может быть сильно меньше
    реального годового дохода гражданина, поскольку он проработал в данной должности неполный год.
    Это довольно часто случается, когда рассматривается доход первой или последней известной декларации
    (т.е. начало или окончание карьеры декларанта).  Мы пытаемся преодолеть эти
    очевидные сложности, но предполагаем, что у профессиональных экономистов возникнет много других вопросов,
    поэтому сразу скажем, что сравнение с доходами населения носит <u><b>предположительный</b></u> характер,
    что означает, что во многих случаях реальная разница между доходами декларанта и средним доходам населения
    может оказаться совсем другой. Все цифры опубликованы, проверить и сделать выводы пользователь может сам. </p>

<p> Для сравнения с доходами населения мы используем официальные данные от Росстата
    <a href=https://rosstat.gov.ru/folder/210/document/13396> Социально-экономические показатели Российской Федерации в 1991-2020 гг.  </a>,
    из этого документа мы берём  таблицу Ретро_2021_Раздел5, строку «Среднедушевые денежные доходы населения».
</p>
<p>Получаем таблицу:</p>
<table border="1">
<tr><th>Год</th><th>Доход</th></tr>
<tr><td>2000</td><td>2281</td></tr>
<tr><td>2001</td><td>3062</td></tr>
<tr><td>2002</td><td>3947</td></tr>
<tr><td>2003</td><td>5167</td></tr>
<tr><td>2004</td><td>6399</td></tr>
<tr><td>2005</td><td>8088</td></tr>
<tr><td>2006</td><td>10155</td></tr>
<tr><td>2007</td><td>12540</td></tr>
<tr><td>2008</td><td>14864</td></tr>
<tr><td>2009</td><td>16895</td></tr>
<tr><td>2010</td><td>18958</td></tr>
<tr><td>2011</td><td>20780</td></tr>
<tr><td>2012</td><td>23221</td></tr>
<tr><td>2013</td><td>25684</td></tr>
<tr><td>2014</td><td>27412</td></tr>
<tr><td>2015</td><td>30254</td></tr>
<tr><td>2016</td><td>30865</td></tr>
<tr><td>2017</td><td>31897</td></tr>
<tr><td>2018</td><td>33266</td></tr>
<tr><td>2019</td><td>35338</td></tr>
<tr><td>2020</td><td>36073</td></tr>
</table>

<p>Абсолютные цифры нас не интересуют, а только разница между годами. Разницу в доходах  в процентах (рост дохода) мы считаем так: <p>
<p class="formula">
  <i><b>IncDiff</b>(s, l) = 100 * (l - s) / s </i>, где <i>s</i> - доход за первый год,  <i>l</i> — доход за какой-то последующий год.
</p>

<p>Рост дохода населения от года  <i>s</i> до года <i>l</i>, полученный по таблице от Росстата,
    мы везде обозначаем через <b>IncDiff<sub>population</sub></b>(s,l). </p>
<p>

<p>Например, разница в доходах между 2020 и 2019 годом будет  </p>
<p class="formula">
    <b>IncDiff<sub>population</sub></b>(35338, 36073) = 100 * (36073 - 35338)/ 35338 = 2%.
</p>
<p>Разница между годами 2019 и 2015:</p>
<p class="formula">
    <b>IncDiff<sub>population</sub></b>(30254, 35338) = 100 * (35338 - 30254) /  30254 = 17%.
</p>
<p>
Мы можем применить формулу <b>IncDiff</b> и для доходов декларантов и сравнить полученные значения.
Чтобы до некоторой степени преодолеть проблему доходов за неполный год, мы выкидываем из рассмотрения
все доходы, которые меньше 12*МРОТ, где значения для МРОТ взяты со	 <a href=https://base.garant.ru/10180093/> страницы </a>.
</p>.
<p></p>
<p></p>
<p><a href="https://github.com/TI-Russia/smart_parser/blob/master/tools/disclosures_site/declarations/nominal_income.py"> Код на питоне</a><br/> </p>
<p></p>
<p><a href="/person/1387644/">Пример страницы, где есть сравнение по доходам</a> </p>

<p>Замечания и предложения отправляйте на sokirko@yandex.ru </p>

<br/><br/><br/><br/><br/><br/>
&nbsp;
{% endblock content %}
