{% extends 'base.html' %}
{% block title %}Предварительная база деклараций{% endblock title %}


{% block content %}

<ul>
    <b>5 марта 2020</b> Первый обход dlrobot собрал 144292 документа.
</ul>
<ul>
    <b>1 июля 2020</b> Второй  обход dlrobot собрал 238069 документов.
</ul>
<ul>
    <b>28 октября 2020</b> Dlrobot совершил третий частичный обход. Пытаюсь найти разработчиков для смартпарсера
    на сайте <a href=https://freelance.ru/projects/antikorrupcionny-parsing-deklaracij-o-dohodah-1250062.html>фриланс.ру </a>
<ul>



{% endblock content %}


