<div>
    <b>3 февраля 2022</b> Выложил  <a href="/reports/regions2020/index.html"> отчет по доходам в регионах за 2020 год.</a>
     Изучал корреляцию уровня поддержки Единой России в регионе с дисбалансом доходов между чиновниками и всеми
    остальными гражданами.
</div>

<div>
    <b>16 января 2022</b> Если ФИО в базе не найдено, теперь ищем варианты ФИО  нечетким поиском.
</div>

<div>
    <b>5 января 2022</b> Закочился пятый обход  dlrobot. В базе теперь 6.7 млн деклараций.
</div>

<div>
    <b>10 октября 2021</b> На странице <a href="/about.html"> "отчетов" </a> выложил полный дамп sql-базы Дискложес. Дамп будет регулярно обновляться.
</div>

<div>
    <b>22 сентября 2021</b> Обновил страницу <a href="/about.html"> "О проекте" </a>. Объяснил, почему представленные
    данные не нарушают закон о персональных данных.
</div>

<div>
    <b>8 сентября 2021</b> После долгих переговоров с материнским проектом (Декларатор) решил, продлить время жизни
    проекта Дискложес еще на год. Надеюсь, за это время Декларатор скопирует собранные нами данные.
</div>

<div>
    <b>1 мая 2021</b> Попробовал построить модель машинного обучения для  <a href="/reports/new-car/index.html">предсказания покупки транспортного средства
    (автомобиля) </a>
</div>

<div>
    <b>20 марта 2021</b>   Закончился четвертый обход. Теперь в базе 652022 документа и <a href="/statistics/"> 5.5 млн деклараций </a>
</div>

<div>
    <b>4 марта 2021</b>   Порассуждал  <a href="/reports/genders/index.html"> о гендерных перекосах в декларациях чиновников </a>.
    Например, пытался убедить себя в наличии "стеклянного потолка" в судейской рубрике (аппарат и сами судьи).
</div>

<div>
    <b>27 февраля 2021</b> Пробовал изучать <a href="/reports/names/index.html"> корпус личных имен из деклараций чиновников </a>.
    Например, выяснял, в каком регионе чаще всего используются имена <i>Саргылана, Сардана, Марианна, Айталина</i>.
</div>

<div>
    <b>18 февраля 2021</b> Посчитал на каких машинах (только бренды) ездят <a href="/reports/car-brands/index.html"> чиновники </a>.
</div>

<div>
    <b>17 февраля 2021</b> Добавил поиск деклараций по автомобильным брендам. Например, теперь можно найти все чиновников, которые
    на 2019 год владеют машиной
    <a href="/section/?income_year=2019&car_brands=135"> марки Мазерати <img src="/static/images/maserati.png"/></a>
</div>

<div>
    <b>10 февраля 2021</b> Посчитал <a href="/reports/offices/index.html"> медианный доход чиновников по разным ведомствам.
 </a> Пытался сравнить их рост доходов с ростом зарплат всего населения. Вопросов осталось очень много.
</div>

<div>
    <b>27 декабря 2020</b> Посчитал <a href="/reports/regions/index.html"> медианный доход чиновников по регионам   </a>
</div>


<div>
    <b>14 ноября 2020</b> Сделал поиск деклараций по базовым параметрам. Теперь, например, можно получить
    список директоров школ Москвы за 2019 год и <a href="/section/?rubric_id=3&income_year=2019&position_and_department=%D0%B4%D0%B8%D1%80%D0%B5%D0%BA%D1%82%D0%BE%D1%80&region_id=63&sort_by=income_size&order=desc"> упорядочить по доходу </a>
</div>

<div>
    <b>28 октября 2020</b> Dlrobot совершил третий частичный обход. Пытаюсь найти разработчиков для смартпарсера
    на сайте <a href="https://freelance.ru/projects/antikorrupcionny-parsing-deklaracij-o-dohodah-1250062.html">фриланс.ру </a>
</div>

<div>
    <b>1 июля 2020</b> Второй  обход dlrobot собрал 238069 документов.
</div>

<div>
    <b>5 марта 2020</b> Первый обход dlrobot собрал 144292 документа.
</div>

