{% extends 'base.html' %}


{% block meta_robots %}<meta name="robots" content="noindex">{% endblock meta_robots %}

{% block title %}Информация об исходном файле деклараций{% endblock title %}

{% block content %}

<b>ID файла:</b> {{ source_document.id }} <br/><br/>

<b>Ведомство:</b> <a href="/office/{{ source_document.office.id }}"> {{ source_document.office.name }} </a><br/><br/>

<b>Скаченный файл:</b> <a href="/sourcedoc/{{ source_document.sha256 }}{{ source_document.file_extension }}"> {{ source_document.sha256 }}{{ source_document.file_extension }} </a> <br/><br/>

<b>File extension:</b> {{ source_document.file_extension }} <br/><br/>

<b>Intersection status:</b> {{ source_document.intersection_status }} <br/><br/>

<b>Min Income Year:</b> {{ source_document.min_income_year }} <br/><br/>

<b>Max Income Year:</b> {{ source_document.max_income_year }} <br/><br/>

<b>Section Count:</b> {{ source_document.section_count }} <br/><br/>

<b>Median Income:</b> {{ source_document.median_income }} <br/><br/>

{% for web_location in source_document.web_reference_set.all %}
    <b>Сайт:</b> <a href="{{ web_location.dlrobot_url }}"> {{ web_location.dlrobot_url }}</a> , обход № {{ web_location.crawl_epoch }}  <br/>
    <br><br/>
{% endfor %}


{% for decl_info in source_document.declarator_file_reference.all %}
    <a href="{{decl_info.declarator_document_file_url}}"> Ссылка на документ в Деклараторе </a>
    <br><br/>
{% endfor %}

<a href=/section/?source_document_id={{source_document.id}}> Все декларации этого документа </a> <br/><br/>


{% endblock content %}




