{% extends 'base.html' %}

{% block title %}Исходные документы деклараций {% endblock title %}

{% block content %}

<form action="{% url 'file_search' %}" method="get">
    <table>
        <tr>
            <td>{{form.file_path.label_tag}}</td>
            <td>{{form.file_path}}</td>
            <td><input type="submit" value="Поиск"></td>
       </tr>
    </table>
    </form>

{% if hits_count is not None %}

    <br/>
      Число найденных документов: {{ hits_count }}
    <br/>

    <table>
      {% for file in object_list %}
        <tr>
          <td> {{ file.id }}: </td>
          <td>
              <a href="/file/{{ file.id }}"> {{ file.file_path }} </a>
          </td>
        </tr>
      {% endfor %}
    </table>

    {% include "search/paginator.html" %}
{% endif %}


{% endblock content %}


