selenium
bs4
lxml
pycurl
certifi
plotly
pandas
psutil
Django
django-modeltranslation
celery
unidecode
dedupe==1.10.0
pymysql
sklearn
python-Levenshtein
numpy
mysqlclient
redis
elasticsearch-dsl
django_elasticsearch_dsl
django_elasticsearch_dsl_drf
djangorestframework
xlsx2csv
lxml
django-meta
requests
gunicorn
psycopg2-binary
matplotlib
telegram_send
pytest
setuptools_rust
pymysql
